<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div v-click-outside='dismiss' class='relative text-left' :class="[expand ? 'z-20' : 'z-0']">
        <div ref='trigger' class='cursor-pointer' @click.prevent.stop='onButtonClick'>
            <slot name='trigger'>
                <ps-button :size='buttonSize' :variant='buttonVariant'>
                    <slot name='button-content'></slot>
                    <i class='fas fa-caret-down ml-2'></i>
                </ps-button>
            </slot>
        </div>

        <!--
          Dropdown menu, show/hide based on menu state.

          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <transition
            enter-active-class='transition ease-out duration-100'
            enter-from-class='transform opacity-0 scale-95'
            enter-to-class='transform opacity-100 scale-100'
            leave-active-class='transition ease-in duration-75'
            leave-from-class='transform opacity-100 scale-100'
            leave-to-class='transform opacity-0 scale-95'
        >
            <div
                v-if='expand'
                ref='dropdownWrapper'
                :class="[dropdownPosition, verticalDropdownPosition, arrow ? 'arrow' : '', fullWidth ? 'w-full' : width]"
                class='
                    ps-dropdown
                    origin-top-left
                    absolute
                    z-50
                    mt-1
                    rounded-md
                    border
                    shadow-lg
                    bg-white
                    ring-black ring-opacity-5
                    divide-y divide-gray-100
                    focus:outline-none
                '
                :style='dropdownStyle'
                role='menu'
                aria-orientation='vertical'
                aria-labelledby='options-menu'
            >
                <slot></slot>
            </div>
        </transition>
    </div>
</template>

<script lang='ts'>
import { Component, Watch } from 'vue-property-decorator'
import DropdownMixin from './DropdownMixin'

@Component
export default class Dropdown extends DropdownMixin {
    public expand        = false
    public triggerWidth  = 0
    public triggerHeight = 0

    @Watch('expand')
    onExpandChanged(focus: boolean) {
        if (focus) {
            this.$emit('focus')
            this.checkViewport()
        } else {
            this.$emit('blur')
        }
    }

    get dropdownStyle() {
        const style: any = {}

        if (this.dropdownPosition === 'center') {
            style.left = this.triggerWidth / 2 + 'px'
        }

        if (this.verticalDropdownPosition === 'top') {
            style.transform = 'translateY(calc(-100% - ' + (this.triggerHeight + 5) + 'px' + '))'
        }

        return style
    }

    get dropdownClasses() {
        switch (this.position) {
        case 'left':
            return ''
        case 'center':
            break
        case 'right':
            break
        }
    }

    public onButtonClick() {
        if (this.disabled) {
            return
        }

        this.expand = !this.expand

        if (this.expand) {
            const element: Element = this.$refs.trigger as Element

            this.triggerWidth  = element.clientWidth
            this.triggerHeight = element.clientHeight
        }
    }

    public dismiss() {
        this.expand = false
    }

    public checkViewport() {
        setTimeout(() => {
            const overflow = null
            const wrapper  = this.$refs.dropdownWrapper as HTMLElement
            const offset   = this.getOffset(wrapper)

            if (offset.top < 0) {
                // TODO: handle top overflows
                console.log('TOP OVERFLOW')
                this.verticalDropdownPosition = 'bottom'
            }

            if (offset.left < 0) {
                this.dropdownPosition = 'left'
            }

            if (offset.right > (window.innerWidth || document.documentElement.clientWidth)) {
                this.dropdownPosition = 'right'
            }

            if (offset.bottom > (window.innerHeight || document.documentElement.clientHeight)) {
                // TODO: handle bottom overflows
                console.log('BOTTOM OVERFLOW')
                this.verticalDropdownPosition = 'top'
            }
        }, 10)
    }

    protected getOffset(el: HTMLElement) {
        const rect = el.getBoundingClientRect()
        return {
            left: rect.left + window.scrollX,
            top: rect.top + window.scrollY,
            right: rect.right + window.scrollX,
            bottom: rect.bottom + window.scrollY,
        }
    }
}
</script>

<style scoped>
.ps-dropdown {
    &.top {
    //transform: translateY(-101%);
    }

    &.left {
        left: 0;

        &:after,
        &:before {
            left: 10%;
        }
    }

    &.center {
        transform: translateX(-50%);

        &:after,
        &:before {
            left: 50%;
        }
    }

    &.right {
        right: 0;

        &:after,
        &:before {
            right: 10%;
        }
    }

    &.arrow {
        &:after,
        &:before {
            bottom: 100%;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-bottom-color: theme('colors.white');
            border-width: 10px;
            margin-left: -10px;
        }

        &:before {
            border-color: transparent;
            border-bottom-color: theme('borderColor.DEFAULT');
            border-width: 11px;
            margin-left: -11px;
        }
    }

    &.top {
        &.arrow {
            &:after,
            &:before {
                top: 100%;
            }

            &:after {
                border-top-color: theme('colors.white');
                border-bottom: 0px;
            }

            &:before {
                border-top-color: theme('borderColor.DEFAULT');
                border-bottom: 0px;
            }
        }
    }
}
</style>
