<template>
    <ps-dropdown
        ref="dropdown"
        v-bind="{ buttonSize, buttonVariant, arrow, position }"
        :disabled="disabled"
        :full-width="fullWidth"
        @focus="onSearch"
    >
        <template slot="trigger">
            <slot></slot>
        </template>

        <div class="divide-y">
            <ps-list-group v-if="searchable" flush>
                <ps-list-group-item class="bg-gray-50">
                    <input type="text" class="w-full border rounded text-sm p-2 py-2" placeholder="Zoeken..." @input="onSearch" />
                </ps-list-group-item>
            </ps-list-group>

            <ps-list-group flush class="overflow-y-scroll max-h-52">
                <ps-list-group-item v-if="!options.length" class="text-center">
                    <fa :icon="icons.faSpinner" spin></fa>
                </ps-list-group-item>
                <template v-else>
                    <ps-list-group-item
                        v-for="(option, index) in options"
                        :key="index"
                        class="hover:bg-gray-50 cursor-pointer"
                        @click.native="onSelect(option, index)"
                    >
                        <div class="flex">
                            <div v-if="multiSelect" class="flex mr-3 items-center">
                                <ps-checkbox v-model="selection" :input-value="option"></ps-checkbox>
                            </div>
                            <div class="flex-grow">
                                <slot name="option" v-bind="{ option }">
                                    <div class="text-base">{{ option._title }}</div>
                                    <small class="text-gray-500">{{ option._subtitle }}</small>
                                </slot>
                            </div>
                        </div>
                    </ps-list-group-item>
                </template>
            </ps-list-group>
        </div>
    </ps-dropdown>
</template>

<script lang="ts">
import { Component, Prop, VModel } from 'vue-property-decorator'
import { faSpinner } from '@fortawesome/pro-regular-svg-icons'
import Dropdown from '../dropdown/Dropdown.vue'
import DropdownMixin from './DropdownMixin'

@Component
export default class SelectableDropdown extends DropdownMixin {
    public optionSelection = []

    @VModel({ type: [Array, Object, String] })
    selection!: any[] | any

    @Prop({ type: [Boolean], default: false })
    searchable!: boolean

    @Prop({ type: [Boolean], default: false })
    multiSelect!: boolean

    @Prop({ type: String, default: '' })
    searchValue!: string

    @Prop({ type: Array, default: () => [] })
    options!: []

    public icons = {
        faSpinner,
    }

    public onSelect(option: any) {
        this.$emit('select', option)

        if (this.multiSelect) {
            const selectedIndex = this.selection.findIndex((selectedOption: any) => selectedOption === option)

            if (selectedIndex !== -1) {
                this.selection = this.selection.filter((selectedOption: any) => selectedOption !== option)
            } else {
                this.selection = this.selection.concat([option])
            }
        } else {
            const dropdown = this.$refs.dropdown as Dropdown
            dropdown.dismiss()
        }
    }

    public onSearch(event: any) {
        this.$emit('search', event)
    }

    public onUpdateSelection() {
        this.selection = this.optionSelection
    }
}
</script>

<style scoped lang="scss"></style>
