<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div v-if='pages' class='bg-white px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6'>
        <div class='flex-1 flex justify-between sm:hidden'>
            <a
                href='javascript:void(0)'
                class='
                    relative
                    inline-flex
                    items-center
                    px-4
                    py-2
                    border border-gray-300
                    text-sm
                    font-medium
                    rounded-md
                    text-gray-700
                    bg-white
                    hover:text-gray-500
                '
                @click='previousPage'
            >
                {{ $t('PAGINATION_PREVIOUS') }}
            </a>
            <a
                href='javascript:void(0)'
                class='
                    ml-3
                    relative
                    inline-flex
                    items-center
                    px-4
                    py-2
                    border border-gray-300
                    text-sm
                    font-medium
                    rounded-md
                    text-gray-700
                    bg-white
                    hover:text-gray-500
                '
                @click='nextPage'
            >
                {{ $t('PAGINATION_NEXT') }}
            </a>
        </div>
        <div class='hidden sm:flex-1 sm:flex sm:items-center sm:justify-between'>
            <div>
                <p class='text-sm text-gray-700'>
                    {{ $t('PAGINATION_SHOWING') }}
                    <span class='font-medium'>{{ current * perPage - perPage + 1 }}</span>
                    {{ $t('PAGINATION_TO') }}
                    <span class='font-medium'>{{ current * perPage < total ? current * perPage : total }}</span>
                    {{ $t('PAGINATION_OF') }}
                    <span class='font-medium'>{{ total }}</span>
                    {{ $t('PAGINATION_RESULTS') }}
                </p>
            </div>
            <div class='flex space-x-2'>
                <ps-selectable-dropdown button-variant='link' position='center' arrow :options='limitSelection' @select='onSelect'>
                    <ps-button variant='link'>
                        {{ perPage }} {{ $t('PAGINATION_PER_PAGE') }}
                        <fa class='ml-3' :icon='icons.faCaretDown'></fa>
                    </ps-button>
                </ps-selectable-dropdown>
                <nav class='relative z-0 inline-flex rounded-md -space-x-px' aria-label='Pagination'>
                    <a
                        href='javascript:void(0)'
                        class='
                            relative
                            inline-flex
                            items-center
                            px-2
                            py-2
                            rounded-l-md
                            border border-gray-300
                            bg-white
                            text-sm
                            font-medium
                            text-gray-500
                            hover:bg-gray-50
                        '
                        @click='previousPage'
                    >
                        <span class='sr-only'>Previous</span>
                        <!-- Heroicon name: solid/chevron-left -->
                        <svg class='h-5 w-5' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
                            <path
                                fill-rule='evenodd'
                                d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z'
                                clip-rule='evenodd'
                            />
                        </svg>
                    </a>
                    <a
                        v-if='current > 2'
                        href='javascript:void(0)'
                        class='
                            relative
                            inline-flex
                            items-center
                            px-4
                            py-2
                            border border-gray-300
                            bg-white
                            text-sm
                            font-medium
                            text-gray-700
                            hover:bg-gray-50
                        '
                        @click='changePage(1)'
                    >1</a
                    >
                    <a
                        v-if='current > 2'
                        href='javascript:void(0)'
                        class='
                            relative
                            inline-flex
                            items-center
                            px-4
                            py-2
                            border border-gray-300
                            bg-white
                            text-sm
                            font-medium
                            text-gray-700
                            hover:bg-gray-50
                        '
                    >...</a
                    >

                    <template v-for='(page, index) in pageNumbers'>
                        <a
                            v-if='page > current - 2 && page < current + 2'
                            :key='index'
                            href='javascript:void(0)'
                            class='
                                relative
                                inline-flex
                                items-center
                                px-4
                                py-2
                                border border-gray-300
                                bg-white
                                text-sm
                                font-medium
                                text-gray-700
                                hover:bg-gray-50
                            '
                            :class="[page === current ? 'bg-' + variant + '-50 text-' + variant + '-700' : '']"
                            @click='changePage(page)'
                        >
                            {{ page }}
                        </a>
                    </template>
                    <!--                    <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700">-->
                    <!--                      ...-->
                    <!--                    </span>-->

                    <a
                        v-if='current <= pageNumbers.length - 2'
                        href='javascript:void(0)'
                        class='
                            relative
                            inline-flex
                            items-center
                            px-4
                            py-2
                            border border-gray-300
                            bg-white
                            text-sm
                            font-medium
                            text-gray-700
                            hover:bg-gray-50
                        '
                    >...</a
                    >
                    <a
                        v-if='current <= pageNumbers.length - 2'
                        href='javascript:void(0)'
                        class='
                            relative
                            inline-flex
                            items-center
                            px-4
                            py-2
                            border border-gray-300
                            bg-white
                            text-sm
                            font-medium
                            text-gray-700
                            hover:bg-gray-50
                        '
                        @click='changePage(pages)'
                    >{{ pages }}</a
                    >
                    <a
                        href='javascript:void(0)'
                        class='
                            relative
                            inline-flex
                            items-center
                            px-2
                            py-2
                            rounded-r-md
                            border border-gray-300
                            bg-white
                            text-sm
                            font-medium
                            text-gray-500
                            hover:bg-gray-50
                        '
                        @click='nextPage'
                    >
                        <span class='sr-only'>Next</span>
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class='h-5 w-5' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
                            <path
                                fill-rule='evenodd'
                                d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
                                clip-rule='evenodd'
                            />
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { faCaretDown } from '@fortawesome/pro-solid-svg-icons'

@Component
export default class Pagination extends Vue {
    @Prop({ type: String, default: 'secondary' })
    variant!: string

    @Prop({ type: Number, default: 10 })
    perPage!: number

    @Prop({ type: Number, default: 1 })
    total!: number

    @Prop({ type: Number, default: 1 })
    current!: number

    public limitSelection = [
        { _title: 10, key: 10 },
        { _title: 15, key: 15 },
        { _title: 25, key: 25 },
        { _title: 50, key: 50 },
        { _title: 100, key: 100 },
        { _title: 'All', key: 'all' },
    ]

    public icons = {
        faCaretDown,
    }

    get pages() {
        return Math.ceil(this.total / this.perPage)
    }

    get pageNumbers() {
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        return [...Array(this.pages).keys()].map((key) => key + 1)
    }

    public changePage(page: number) {
        this.$emit('change', page, this.perPage)
    }

    public previousPage() {
        if (this.current > 1) {
            this.changePage(this.current - 1)
        }
    }

    public nextPage() {
        if (this.pages > this.current) {
            this.changePage(this.current + 1)
        }
    }

    public onSelect(event: any) {
        this.$emit('change', 1, event.key)
    }
}
</script>

<style scoped lang='scss'></style>
