<template>
    <div>
        <vue-currency-input
            v-model='input'
            :class='[inputClass]'>
        </vue-currency-input>
        <t-input-inline v-show='false' ref='tInput' type='text' :variant="inline ? 'inline' : null" :placeholder='placeholder' :disabled='disabled'></t-input-inline>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, VModel } from 'vue-property-decorator'
import Vue from 'vue'
import { CurrencyInput as VueCurrencyInput } from 'vue-currency-input'

@Component({
    components: {
        VueCurrencyInput,
    },
})
export default class CurrencyInput extends Vue {
    @VModel({ type: [String, Number] })
    input!: string | number

    @Prop({ type: String })
    name!: string

    @Prop({ type: String })
    id!: string

    @Prop({ type: String })
    placeholder!: string

    @Prop({ type: Boolean })
    inline!: boolean

    @Prop({ type: Boolean })
    disabled!: boolean

    public inputClass: string = ''

    mounted() {
        this.setInputClass()
    }

    public setInputClass() {
        const input: any = this.$refs.tInput

        this.inputClass = input ?
            [input.$props.fixedClasses, this.inline ? input.$props.variants.inline : input.$props.classes].join(' ')
            : ''
    }
}
</script>

<style scoped lang='scss'>
input:disabled {
    @apply bg-gray-100;
}
</style>
