<template>
<!--    <t-input-inline v-model='input' :type='type' :variant="inline ? 'inline' : null" :placeholder='placeholder' :disabled='disabled'  :min="min" :max="max"></t-input-inline>-->
    <t-datepicker
        :id='id'
        v-model='input'
        :variant="inline ? 'inline' : null"
        :timepicker="showTime"
        :placeholder='placeholder'
        :disabled='disabled'
        :user-format="showTime ? 'D d F Y H:i' : 'D d F Y'"
    ></t-datepicker>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import DateInputMixin from './types/DateInputMixin.vue';

@Component
export default class DateInput extends DateInputMixin {

}
</script>

<style scoped lang='scss'>
input:disabled {
    @apply bg-gray-100;
}
</style>
