<template>
    <t-dropdown ref='dropdown' variant='default' :toggle-on-focus='true' :toggle-on-click='false'>
        <template #trigger='{ mousedownHandler, focusHandler, blurHandler, keydownHandler, isShown }'>
            <t-button
                id='user-menu'
                :variant="activeItemObject ? activeItemObject.variant : 'default'"
                type='button'
                aria-label='User menu'
                aria-haspopup='true'
                @mousedown='mousedownHandler'
                @focus='focusHandler'
                @blur='blurHandler'
                @keydown='keydownHandler'
            >
                {{ activeItemLabel }}

                <fa class='ml-3' :icon="['fas', 'caret-down']"></fa>
            </t-button>
        </template>

        <a
            v-for='(option, index) in options'
            :key='index'
            href='#'
            class='
                block
                px-4
                py-2
                text-sm
                leading-5
                text-gray-700
                transition
                duration-150
                ease-in-out
                hover:bg-gray-100
                focus:outline-none focus:bg-gray-100
            '
            role='menuitem'
            @click.prevent='selectOption(option)'
        >
            {{ getOptionLabel(option) }}
        </a>
    </t-dropdown>
    <!--    <t-rich-select ref="select" v-bind="dropdownOptions">-->
    <!--        <template #label="{ className, option, query }">-->
    <!--            <div :class="className">-->
    <!--                {{ option.text }}-->
    <!--            </div>-->
    <!--        </template>-->
    <!--    </t-rich-select>-->
</template>

<script lang='ts'>
import { Component, Prop, VModel, Watch } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class DropdownSelectInput extends Vue {
    @VModel()
    activeItem!: any

    @Prop({ type: Array, default: [] })
    options!: any[]

    @Prop({ type: String, default: 'value' })
    valueAttribute!: string

    @Prop({ type: String, default: 'text' })
    textAttribute!: string

    @Prop({ type: String, default: 'Select' })
    placeholder!: string

    @Watch('activeItem', { immediate: true })
    onActiveItemChanged() {
        this.currentValue = this.activeItem
    }

    public currentValue: any = null

    public get activeItemObject() {
        const option = this.options.find((option: any) => this.getOptionValue(option) === this.currentValue)

        return option || null
    }

    public get activeItemLabel() {
        return this.activeItemObject ? this.getOptionLabel(this.activeItemObject) : this.placeholder
    }

    public getOptionLabel(option: any) {
        return option[this.textAttribute] || null
    }

    public getOptionValue(option: any) {
        return option[this.valueAttribute] || null
    }

    public selectOption(option: any) {
        this.activeItem = this.currentValue = this.getOptionValue(option)

        const dropdown: any = this.$refs.dropdown
        dropdown.hasFocus   = false
        dropdown.localShow  = false
    }

    // public originalButtonClass = null
    //
    // public blacklistedProps = ['variant', 'variants', 'hideSearchBox', 'classes', 'fixedClasses']
    //
    // public get dropdownOptions() {
    //     return {
    //         ...this.reuseParentProps(),
    //         variant: 'dropdown',
    //         hideSearchBox: true,
    //         // placeholder: 'Status',
    //         // options: this.options,
    //     }
    // }
    //
    // public mounted() {}
    //
    // public onChange() {}
    //
    // public changeButtonClass() {
    //     const select: any = this.$refs.select
    //     const button = select.getButton()
    //
    //     if (!this.originalButtonClass) {
    //         this.originalButtonClass = button.className
    //     }
    //
    //     // button.className = this.originalButtonClass + ' bg-' +
    // }
    //
    // protected reuseParentProps() {
    //     const props: Record<string, any> = Object.keys(this.$props)
    //         .filter((prop) => !this.blacklistedProps.includes(prop))
    //         .reduce((carry: Record<string, any>, prop: string) => {
    //             carry[prop] = this.$props[prop]
    //
    //             return carry
    //         }, {})
    //
    //     return props
    // }
}
</script>

<style scoped lang='scss'></style>
