<template>
    <div class="border rounded-md px-3 py-1.5 focus-within:ring-offset-2 focus-within:ring-2 focus-within:ring-primary" :class="inputClass">
        <input
            v-model="input"
            autocomplete="off"
            type="password"
            class="w-full focus:ring-0"
            :placeholder="placeholder"
            :disabled="disabled"
        />
    </div>
</template>

<script lang="ts">
import { Component, Prop, VModel } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class TextInput extends Vue {
    @VModel({ type: String })
    input!: string

    @Prop({ type: String })
    name!: string

    @Prop({ type: String })
    id!: string

    @Prop({ type: String })
    placeholder!: string

    @Prop({ type: Boolean })
    inline!: boolean

    @Prop({ type: Boolean })
    disabled!: boolean

    get inputClass() {
        return this.inline ? 'hover:bg-gray-100 focus:bg-white px-2 py-1.5 w-full rounded-md' : 'border rounded-md px-3 py-1.5'
    }
}
</script>

<style scoped lang="scss">
input:disabled {
    @apply bg-gray-100;
}
</style>
