<template>
    <!--    <input v-model="input" type="text" class="w-full bg-transparent" :class="inputClass" :placeholder="placeholder" :disabled="disabled" />-->
    <t-input-inline v-model='input' :type='type' :variant="inline ? 'inline' : null" :placeholder='placeholder' :disabled='disabled'  :min="min" :max="max"></t-input-inline>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import TextInputMixin from '~/modules/@provide-smart/core/src/components/form/inputs/types/TextInputMixin.vue';

@Component
export default class TextInput extends TextInputMixin {
    get inputClass() {
        return this.inline ? 'hover:bg-gray-100 focus:bg-white px-2 py-1.5 w-full rounded-md' : 'border rounded-md px-3 py-1.5'
    }
}
</script>

<style scoped lang='scss'>
input:disabled {
    @apply bg-gray-100;
}
</style>
