<template>
    <div>
        <textarea v-model="input" type="text" class="w-full bg-transparent" :class="inputClass" :placeholder="placeholder" cols="5" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, VModel } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class TextareaInput extends Vue {
    @VModel({ type: String })
    input!: string

    @Prop({ type: String })
    name!: string

    @Prop({ type: String })
    id!: string

    @Prop({ type: String })
    placeholder!: string

    @Prop({ type: Boolean })
    inline!: boolean

    get inputClass() {
        return this.inline
            ? 'hover:bg-gray-100 focus:bg-white px-2 py-1.5 w-full rounded-md focus:ring-offset-0 focus:ring-success-200'
            : 'border rounded-md px-3 py-1.5 focus:ring-offset-0 focus:ring-2 focus:ring-success-200'
    }
}
</script>

<style scoped lang="scss"></style>
