<template>
    <div v-observe-visibility='visibilityChanged'>
        <div v-if='isVisible'>
            <slot name='first-item'></slot>

            <div v-if='isContentState || isLoadingState && items.length'>
                <!--            <activity-feed :activities="activities"></activity-feed>-->
                <div>

                    <div v-for='(item, index) in items' :key='index' class='w-full'>
                        <slot v-bind='{ item }'></slot>
                    </div>
                </div>
            </div>

            <div v-if='isErrorState'>{{ error }}</div>
            <div v-if='isEmptyState' class='text-gray-400 py-12 text-center'>
                <slot name='empty-state'>
                    <fa-layers class='fa-3x text-center w-full'>
                        <fa :icon='icons.faLineColumns' class='text-gray-200'></fa>
                        <fa :icon='icons.faSlash'></fa>
                    </fa-layers>
                    <div class='font-bold text-sm mt-3'>No activities yet</div>
                </slot>
            </div>

            <infinite-loading spinner='spiral' :identifier='infiniteId' @infinite='infiniteHandler'>
                <div slot='no-results' class='p-3 text-gray-400'>No results</div>
                <div slot='no-more' class='p-3 text-gray-400'>
                    <div v-if='items.length'>
                        That's all
                    </div>
                </div>
            </infinite-loading>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Watch } from 'vue-property-decorator'
import { faLineColumns, faSlash } from '@fortawesome/pro-regular-svg-icons'
import { mixins } from 'nuxt-property-decorator'
import { Item, Model } from '@vuex-orm/core'
import { StateChanger } from 'vue-infinite-loading'
import dayjs, { Dayjs } from 'dayjs'
import { ObserveVisibility } from 'vue-observe-visibility'
import LCEMixin from '~/modules/@provide-smart/core/src/mixins/LCEMixin.vue'
import AcceptsEntity from '~/modules/@provide-smart/core/src/mixins/AcceptsEntity'
import Query from '~/modules/@provide-smart/core/src/utils/Query'

@Component({
    components: {
        InfiniteLoading: () => import('vue-infinite-loading'),
    },
    directives: {
        ObserveVisibility,
    },
})
export default class Feed extends mixins(LCEMixin, AcceptsEntity) {
    @Prop({
        type: Object,
        default: () => {
        },
    })
    query!: Query

    public isVisible: boolean = false
    public icons              = {
        faLineColumns,
        faSlash,
    }

    private nextPage: number                 = 0
    private complete: boolean                = false
    private itemIds: number[]                = []
    private firstLoadTimestamp: null | Dayjs = null

    @Watch('query')
    onQueryChange() {
        this.nextPage = 0
        this.loadNextItemsPage()
    }

    get infiniteId() {
        return `feed-${this.entity}-${this.entityId}`
    }

    get items(): Item<Model>[] {
        const query = this.entityModel.applyQuery(this.query).withAll()

        // Here we check if new items were added since the first moment that results
        // were fetched from the API.
        let newModelsQuery: any[] = []
        if (this.firstLoadTimestamp) {
            newModelsQuery = this.entityModel
                .applyQuery(this.query)
                .withAll()
                .where('created_at', (v: string) => {
                    return this.firstLoadTimestamp?.isBefore(dayjs(v))
                })
                .get()
        }

        // Map and add ids so we can query all the results including newly added instances
        const newItemIds = newModelsQuery.map((model: any) => model.id)
        query.whereIdIn([...this.itemIds, ...newItemIds])

        if (query.count() === 0) {
            this.setEmpty()
        } else {
            this.setContent()
        }

        return query.all()
    }

    /**
     * Hack for working with invisible feeds that become visible
     *
     * @param isVisible
     */
    public visibilityChanged(isVisible: boolean) {
        this.isVisible = isVisible
    }

    async infiniteHandler($state: StateChanger) {
        // Hack for working with invisible feeds that become visible
        if (this.complete) {
            $state.loaded()
            $state.complete()
            return
        }

        await this.loadNextItemsPage()
            .then((result) => {
                if (result.length > 0) {
                    this.itemIds.push(...result)
                    $state.loaded()
                } else {
                    $state.loaded()
                    $state.complete()
                    this.complete = true
                }
            })
            .catch(() => $state.error())
    }

    private loadNextItemsPage(): Promise<number[]> {
        this.nextPage = ++this.nextPage

        this.setLoading()

        return this.entityModel
            .api()
            .index({
                page: this.nextPage,
                ...this.query,
            })
            .then((result: any) => {
                if (result.response.status === 200) {
                    if (this.nextPage === 1) {
                        this.firstLoadTimestamp = dayjs()
                    }

                    if (result.response.data) {
                        this.setContent()
                        const ids = result.response.data.data.map((a: Record<string, any>) => a.id)
                        this.itemIds.push(...ids)

                        if (ids.length < result.response.data.meta.per_page) {
                            this.complete = true
                        }

                        return ids
                    }
                }
                throw new Error(result.response)
            })
            .catch((error: any) => {
                this.setError(error)
            })
    }
}
</script>

<style scoped lang='scss'></style>
