<template>
    <div class="flex space-x-4">
        <div v-for="(feedFilter, index) in filters" :key="index">
            <template v-if="isFilterType(feedFilter)">
                <t-rich-select hide-search-box @change="onFilterChange($event, feedFilter)" variant="dropdown-xs" :variants="variants" :options="feedFilter.options"></t-rich-select>
            </template>

            <template v-if="isOrderByType(feedFilter)">
                TOGGLE
            </template>
        </div>
    </div>
</template>

<script lang="ts">
import Query from '@provide-smart/core/src/utils/Query';
import Vue from 'vue';
import { Component, Emit, Prop } from 'vue-property-decorator';
import { FeedFilter, FeedFilters as FeedFiltersType, FeedFilterType } from '~/modules/@provide-smart/core/src/components/feed/interfaces';

@Component
export default class FeedFilters extends Vue {

    @Prop({type: Array, default: () => []})
    filters!: FeedFiltersType

    @Prop({
        type: Object, default: () => {
        }
    })
    defaultQuery!: Query

    @Emit()
    queryChange() {
        return this.query
    }

    public scopedQuery: Query = {
        filters: {},
        orderBy: {}
    };

    public variants: any = {
        'dropdown-xs': {
            wrapper: 'inline-block text-xs',
            selectButton: 'select-button cursor-pointer border-0 focus:ring-3 focus:ring-opacity-10 focus:ring-primary hover:bg-gray-300 pl-4 py-1 text-gray-700 bg-gray-200',
            selectButtonPlaceholder: 'text-success-600 font-semibold',
            dropdown: 'mt-1 absolute border shadow-lg bg-white rounded py-1',
            optionContent: 'flex justify-between space-x-4 items-center px-3 py-2',
            option: 'border-transparent',
            optgroup: 'text-gray-400 uppercase text-xs py-2 px-2 font-semibold bg-gray-100',
            highlightedOption: 'bg-success-50 border-transparent',
            selectedOption: 'font-semibold bg-gray-100 font-semibold',
            selectedHighlightedOption: 'font-semibold bg-gray-100 font-semibold',
            selectButtonClearButton: 'hover:bg-success-200 text-success-800',
        },
    }

    public get query() {
        return {
            ...this.defaultQuery,
            ...this.scopedQuery
        }
    }

    public onFilterChange(value: any, feedFilter: FeedFilter) {
        switch (feedFilter.type) {
        case FeedFilterType.FILTER:
            this.scopedQuery.filters = {
                ...this.scopedQuery.filters,
                [feedFilter.attribute]: value
            }
            break
        case FeedFilterType.ORDER_BY:
            this.scopedQuery.orderBy = {
                [feedFilter.attribute]: value
            }
            break
        default:
            console.log('NO ACTION')
            break
        }

        this.queryChange()
    }

    public isFilterType(feedFilter: FeedFilter) {
        return feedFilter.type === FeedFilterType.FILTER;
    }

    public isOrderByType(feedFilter: FeedFilter) {
        return feedFilter.type === FeedFilterType.ORDER_BY;
    }
}
</script>

<style scoped>

</style>
