<script lang='ts'>
import { Component, Prop, VModel } from 'vue-property-decorator'
import Vue from 'vue'
import Field from '@provide-smart/core/src/models/fields/Field'

@Component
export default class AbstractField<FieldType extends Field = Field> extends Vue {
    @Prop({ type: Object })
    field!: FieldType

    @VModel({})
    form!: any

    get formValue() {
        return this.form?.[this.field.attribute] || null
    }

    set formValue(value: any) {
        this.form[this.field.attribute] = value
    }
}
</script>

<style scoped lang='scss'></style>
