<template>
    <DetailDefaultField :field='field' :value='formValue'>
        <t-rich-select
            ref='select'
            v-model='selectedValue'
            :fetch-options='onSearch'
            :minimum-input-length='1'
            variant='inline'
            value-attribute='id'
            text-attribute='_title'
            placeholder='--'
            :disabled="field.readonly"
            @input='onInputChange'
        >
            <template #option='{ option }'>
                <div class='py-2 px-2'>
                    <div>{{ option.raw._title }}</div>
                    <div v-if='option.raw._subtitle' class='block text-sm text-gray-400'>
                        {{ option.raw._subtitle }}
                    </div>
                </div>
            </template>
        </t-rich-select>
    </DetailDefaultField>
</template>

<script lang='ts'>
import { Component, Ref, Watch } from 'vue-property-decorator'
import { faCaretDown } from '@fortawesome/pro-solid-svg-icons'
import AbstractField from './AbstractField.vue'

@Component
export default class BelongsToField extends AbstractField {

    @Ref('select')
    selectElement!: any

    public icons = {
        faCaretDown,
    }

    public options = []

    public selectedValue: number | null = null

    public setFormValueInternally = false

    get relatedModel() {
        return this.$store.$db().model(this.field.resourceName) || null
    }

    @Watch('formValue')
    onFormValueChanged() {
        if (!this.setFormValueInternally) {
            this.setSelectedValue()
        } else {
            this.setFormValueInternally = false
        }
    }

    mounted() {
        try {
            // TODO: for some reason this field is mounted before it's parent is resolved (EntityForm.vue). We add a timeout because otherwise the form data isn't available
            setTimeout(async () => {
                this.setSelectedValue()
            }, 150)
        } catch (e) {
            console.error('Error while fetching belongs to data')
        }
    }

    public setSelectedValue() {
        if (this.formValue && this.selectElement) {
            this.selectElement.selectedOption = this.selectElement?.normalizeOptions([this.formValue])[0]

            this.selectedValue = this.formValue.id
        }
    }

    public onSearch(query: string, nextPage: number) {
        return this.$axios
            .get(
                process.env.NUXT_ENV_API_BASE_URL +
                `${this.field.resource}/associatable/${this.field?.attribute}?search=${query || ''}&page=${nextPage}`,
            )
            .then((response) => {
                this.relatedModel?.insert({ data: response.data.data })

                return {
                    results: response.data.data,
                    hasMorePages: response.data.meta.current_page < response.data.meta.last_page,
                }
            })
    }

    public onInputChange() {
        const selectedValueObject = this.selectedValue ? this.relatedModel.query().find(this.selectedValue) : null

        this.setFormValueInternally = true
        this.formValue              = selectedValueObject?.$toJson()
    }
}
</script>

<style scoped lang='scss'></style>
