<template>
    <DetailDefaultField :field='field' :value='formValue'>
        <t-rich-select
            ref='select'
            v-model='selectedValues'
            :fetch-options='onSearch'
            placeholder='--'
            text-attribute='_title'
            value-attribute='id'
            variant='inline'
            :close-on-select='false'
            multiple
            @input='onInputChange'
        >
            <template #label='{ className, options, query }'>
                <div :class='className' class='flex w-full flex-wrap'>
                    <div
                        v-for='(option, optionIndex) in options'
                        :key='optionIndex'
                        class='bg-success-50 rounded-md mr-2 my-1 space-x-2 px-3 py-2 flex justify-between items-center'
                    >
                        <div>{{ option.raw._title }}</div>
                        <button
                            type='button'
                            class='text-success-500 hover:text-success-800'
                            @click.prevent='deleteOption(optionIndex)'
                        >
                            <fa :icon="['far', 'times']"></fa>
                        </button>
                    </div>
                </div>
            </template>
            <template #option='{ option }'>
                <div class='py-2 px-2'>
                    <div>{{ option.raw._title }}</div>
                    <div v-if='option.raw._subtitle' class='block text-sm text-gray-400'>
                        {{ option.raw._subtitle }}
                    </div>
                </div>
            </template>
        </t-rich-select>
    </DetailDefaultField>
</template>

<script lang='ts'>
import { Component, Ref, Watch } from 'vue-property-decorator'
import { faCaretDown } from '@fortawesome/pro-solid-svg-icons'
import AbstractField from './AbstractField.vue'

@Component
export default class BelongsToManyField extends AbstractField {

    @Ref('select')
    selectElement!: any

    public icons = {
        faCaretDown,
    }

    public options = []

    public selectedValues: number[] = []

    public setFormValueInternally = false

    get relatedModel() {
        return this.$store.$db().model(this.field.resourceName ?? this.field.foreignKey) || null
    }

    @Watch('formValue')
    onFormValueChanged() {
        if (!this.setFormValueInternally) {
            this.setSelectedValues()
        } else {
            this.setFormValueInternally = false
        }
    }

    mounted() {
        try {
            // TODO: for some reason this field is mounted before it's parent is resolved (EntityForm.vue). We add a timeout because otherwise the form data isn't available
            setTimeout(async () => {
                this.setSelectedValues()
            }, 150)
        } catch (e) {
            console.error('Error while fetching belongs to data')
        }
    }

    public setSelectedValues() {
        if (this.formValue && this.selectElement) {
            this.selectElement.selectedOptions = this.selectElement?.normalizeOptions(this.formValue)

            this.selectedValues = this.formValue.map((item: Record<string, any>) => item.id)
        }
    }

    public onSearch(query: string, nextPage: number) {
        return this.$axios
            .get(
                process.env.NUXT_ENV_API_BASE_URL +
                `${this.field.resource}/${this.form.id}/attachable/${this.field?.attribute}?search=${query || ''}&page=${nextPage}`,
            )
            .then((response) => {
                this.relatedModel?.insert({ data: response.data.data })

                return {
                    results: response.data.data,
                    hasMorePages: response.data.meta.current_page < response.data.meta.last_page,
                }
            })
    }

    public deleteOption(index: number) {
        const selectRef: any = this.$refs.select

        selectRef.unselectOptionAtIndex(index)
    }

    public onInputChange() {
        const selectedValueObjects = this.relatedModel.query().whereIdIn(this.selectedValues).get()

        this.setFormValueInternally = true
        this.formValue              = selectedValueObjects.map(value => value.$toJson())
    }
}
</script>

<style scoped lang='scss'></style>
