<template>
    <DetailDefaultField :field='field' :value='formValue'>
        <CurrencyInput v-model='formValue' :name='field.name' :placeholder="!field.stacked ? field.name : '--'" inline></CurrencyInput>
    </DetailDefaultField>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import AbstractField from './AbstractField.vue'

@Component
export default class CurrencyField extends AbstractField {
}
</script>

<style scoped lang='scss'></style>
