<template>
    <div>
        <!--        <div v-if="detailFieldVersion === '1'" :class="field.stacked ? '' : 'flex'" class="group">-->
        <!--            <label-->
        <!--                :for="field.attribute"-->
        <!--                :class="[-->
        <!--                    !field.stacked ? labelWidthClass : '',-->
        <!--                    value || focussed ? '' : 'translate-y-4 group-focus:translate-y-0 group-hover:translate-y-0',-->
        <!--                ]"-->
        <!--                class="block text-xs uppercase font-light text-gray-500 transform transition-all duration-200"-->
        <!--            >-->
        <!--                {{ $t(field.name) }}-->
        <!--            </label>-->
        <!--            <div class="flex-grow" :class="field.stacked ? 'mt-0' : ''">-->
        <!--                <div ref="inputSlot" class="relative">-->
        <!--                    <slot></slot>-->

        <!--                    <fa-->
        <!--                        :icon="icons.faEdit"-->
        <!--                        size="sm"-->
        <!--                        class="absolute bottom-2 right-1 text-success opacity-0 group-hover:opacity-100"-->
        <!--                    ></fa>-->
        <!--                </div>-->
        <!--                <p v-if="field.helpText" class="mt-2 text-sm text-gray-400 italic">{{ field.helpText }}</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div v-if="detailFieldVersion === '2'" class="group text-sm">-->
        <!--            <label :for="field.attribute" class="font-bold px-2 text-xs">-->
        <!--                {{ $t(field.name) }}-->
        <!--            </label>-->
        <!--            <div ref="inputSlot" class="flex-grow mt-0.5">-->
        <!--                <input-->
        <!--                    type="text"-->
        <!--                    class="hover:bg-gray-100 focus:bg-white px-2 py-1.5 w-full rounded-md focus:ring-offset-0 focus:ring-success-200"-->
        <!--                    :value="value || '-&#45;&#45;'"-->
        <!--                />-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div v-if="detailFieldVersion === '3'" class="flex group text-sm items-center">-->
        <!--            <label :for="field.attribute" class="flex-1 font-bold px-2">-->
        <!--                {{ $t(field.name) }}-->
        <!--            </label>-->
        <!--            <div ref="inputSlot" class="flex-grow mt-0.5">-->
        <!--                <input-->
        <!--                    type="text"-->
        <!--                    class="hover:bg-gray-100 focus:bg-white px-2 py-1.5 w-full rounded-md focus:ring-offset-0 focus:ring-success-200"-->
        <!--                    :value="value || '-&#45;&#45;'"-->
        <!--                />-->
        <!--            </div>-->
        <!--        </div>-->
        <div class='flex group text-sm items-center py-3 px-4'>
            <label :for='field.attribute' class='flex space-x-4 flex-none w-1/3 font-bold px-2 text-gray-400'>
                <div>
                    {{ $t(field.name) }}
                </div>
                <div v-if='field.helpText'>
                    <ps-tooltip :title='field.helpText' position='top center'>
                        <fa :icon='icons.faQuestionCircle' :title='field.helpText'></fa>
                    </ps-tooltip>
                </div>
                <!--                <p v-if="field.helpText" class="mt-2 font-normal text-xs text-gray-400 italic">{{ field.helpText }}</p>-->
            </label>
            <div ref='inputSlot' class='relative flex-grow'>
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop } from 'vue-property-decorator'
import Vue from 'vue'
import { faEdit } from '@fortawesome/pro-light-svg-icons'
import { faQuestionCircle } from '@fortawesome/pro-regular-svg-icons'
import Field from '~/modules/@provide-smart/core/src/models/fields/Field'

@Component
export default class DefaultField extends Vue {
    @Prop({ type: Object })
    field!: Field

    @Prop({})
    value!: any

    @Prop({ type: String, default: 'w-1/3' })
    labelWidthClass!: string

    get detailFieldVersion() {
        // console.log('DETAIL FIELD VERSION', process.env.NUXT_ENV_DETAIL_FIELD_VERSION || 1)
        // return process.env.NUXT_ENV_DETAIL_FIELD_VERSION || 1
        return '4'
    }

    public focussed = false

    protected slotRef!: HTMLElement

    public icons = {
        faEdit,
        faQuestionCircle,
    }

    mounted() {
        this.slotRef = this.$refs.inputSlot as HTMLElement

        if (this.slotRef) {
            this.slotRef.addEventListener('focusin', this.focusChanged)
            this.slotRef.addEventListener('focusout', this.focusChanged)
        }
    }

    beforeDestroy() {
        if (this.slotRef) {
            this.slotRef.removeEventListener('focusin', this.focusChanged)
            this.slotRef.removeEventListener('focusout', this.focusChanged)
        }
    }

    public focusChanged(event: any) {
        this.focussed = event.type === 'focusin'
    }
}
</script>

<style scoped lang='scss'></style>
