<template>
    <DetailDefaultField :field='field' :value='formValue'>
        <file-upload
            ref='upload'
            v-model='files'
            extensions='gif,jpg,jpeg,png,webp'
            accept='image/png,image/gif,image/jpeg,image/webp'
            :name='fieldName'
            :drop='true'
            :drop-directory='true'
            class=''
            @input-filter='inputFilter'>
            <div
                class='rounded-md border-2 flex items-center justify-center text-gray-300 w-32 h-32 bg-cover bg-center bg-no-repeat cursor-pointer hover:bg-gray-50 relative z-10'
                :class="{'border-primary-300 border-dashed bg-primary-50': $refs.upload && $refs.upload.dropActive}"
                :style='{backgroundImage: filePreview}'
                @click='onUploadClick'
            >
                <fa v-if='!filePreview && (!$refs.upload || !$refs.upload.dropActive)' :icon='icons.faImage' size='2x'></fa>
                <fa v-else-if='$refs.upload && $refs.upload.dropActive' :icon='icons.faCloudUpload' size='2x' class='text-primary-300'></fa>

                <button v-if='filePreview' type='button' class='w-6 h-6 bg-danger-200 text-danger-700 hover:bg-danger-300 flex items-center justify-center rounded-md absolute top-2 right-2' @click.prevent.stop='onDeleteFile'>
                    <fa :icon='icons.faTimes'></fa>
                </button>
            </div>
        </file-upload>
    </DetailDefaultField>
</template>

<script lang='ts'>
import { Component, Ref, Watch } from 'vue-property-decorator'
import { faCloudUpload, faImage, faTimes, faUpload } from '@fortawesome/pro-regular-svg-icons'
import VueUploadComponent from 'vue-upload-component'
import { FileField as FileFieldType } from '@provide-smart/core/src/models/fields/FileField'
import AbstractField from './AbstractField.vue'

@Component({
    components: {
        FileUpload: VueUploadComponent,
    },
})
export default class FileField extends AbstractField<FileFieldType> {

    @Ref()
    upload!: VueUploadComponent

    public icons: any = {
        faUpload,
        faImage,
        faCloudUpload,
        faTimes,
    }

    public files: any = []

    @Watch('formValue', { immediate: true })
    public onFormValueChanged(value: any) {
        if (typeof value === 'string') {
            this.files = [{
                url: value,
            }]
        }
    }

    public get filePreview() {
        const file: Record<string, any> = this.files[0]

        return file ? `url(${file.url})` : null
    }

    public get ofImageType() {
        return this.field.acceptedTypes === 'image/*'
    }

    public get fieldName() {
        return (this.field.id + '').replaceAll('.', '_')
    }

    public onUploadClick() {
        const uploadRef: any           = this.$refs.upload
        const uploadField: HTMLElement = uploadRef?.$el?.querySelector('#' + this.fieldName)

        uploadField?.click()
    }

    public onDeleteFile() {
        this.files     = []
        this.formValue = null
    }

    public inputFilter(newFile: any, oldFile: any, prevent: Function) {
        if (newFile && !oldFile) {
            if (newFile && !oldFile) {
                if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
                    alert('Your choice is not a picture')
                    return prevent()
                }
            }
            if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                const URL   = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.url = URL.createObjectURL(newFile.file)
                }
            }

            this.formValue = newFile.file
        }
    }
}
</script>

<style scoped lang='scss'></style>
