<template>
    <DetailDefaultField :field="field" :value="formValue">
        <TextInput v-model="formValue" :name="field.name" :placeholder="!field.stacked ? field.name : ''" inline></TextInput>
    </DetailDefaultField>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from './AbstractField.vue'

@Component
export default class GeneratedCodeField extends AbstractField {}
</script>

<style scoped lang="scss"></style>
