<template>
    <DetailDefaultField :field='field' :value='formValue'>
        <TextInput v-model='formValue' :name='field.name' :placeholder="!field.stacked ? field.name : '--'" inline v-bind="{type: field.type, min: field.min, max: field.max}"></TextInput>
    </DetailDefaultField>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import AbstractField from './AbstractField.vue'

@Component
export default class TextField extends AbstractField {
}
</script>

<style scoped lang='scss'></style>
