<template>
    <div @click='dismissable ? handleDismiss() : null'>
        <span :class='classes'>
            <svg v-if='dot' class='`-ml-0.5 mr-1.5 h-2 w-2 text-${variant}-400`' fill='currentColor' viewBox='0 0 8 8'>
                <circle cx='4' cy='4' r='3' />
            </svg>
            <span v-if='icon' class='mr-2'><i :class='`far fa-${icon}`'></i></span>
            <slot></slot>
            <i v-if='dismissable' class='fal fa-times ml-2'></i>
        </span>
    </div>
</template>

<script>
export default {
    name: 'Badge',
    props: {
        variant: {
            type: String,
            default: 'primary',
        },
        dot: {
            type: Boolean,
            default: false,
        },
        icon: {
            type: String,
            default: null,
        },
        class: {
            type: String,
            default: null,
        },
        pill: {
            type: Boolean,
            default: false,
        },
        size: {
            type: String,
            default: 'xs',
        },
        dismissable: {
            type: Boolean,
            default: false,
        },
        dismissActionCallback: {
            type: Function,
            default: () => {
            },
        },
    },

    computed: {
        borderRadius() {
            return this.pill ? 'rounded-full' : 'rounded'
        },
        classes() {
            if (this.class) {
                return this.class
            }

            const dismissableHoverClass = `hover:bg-${this.variant}-200 cursor-pointer`
            return [
                this.dismissable ? dismissableHoverClass : '',
                `inline-flex items-center px-3 py-0.5 ${this.borderRadius} text-${this.size} font-semibold bg-${this.variant}-100 text-${this.variant}-800`,
            ]
        },
    },

    methods: {
        handleDismiss() {
            if (this.dismissable) {
                this.$emit('on-dismiss')
            }
        },
    },
}
</script>

<style scoped lang='scss'></style>
