<template>
    <t-checkbox :id="id" v-model="modelValue" :value="inputValue" :name="name" />
</template>

<script lang="ts">
import { Component, Prop, VModel, Vue } from 'vue-property-decorator'

@Component
export default class Checkbox extends Vue {
    @VModel()
    modelValue!: any

    @Prop([String])
    name!: string

    @Prop([String, Boolean, Object, Array])
    inputValue!: any

    @Prop([String])
    id!: string
}
</script>

<style scoped lang="scss"></style>
