<template>
    <t-button :variant="variant" :class="[sizes[size]]" :to="to" @click.prevent="onClick">
        <template v-if="icon && iconPosition === 'left'">
            <fa :icon="icon" :class="{ 'mr-3': $slots.default }"></fa>
        </template>

        <template v-if="loading">
            <span class="mr-3">
                <fa :icon="icons.faCircleNotch" spin></fa>
            </span>
        </template>

        <slot></slot>

        <template v-if="icon && iconPosition === 'right'">
            <fa :icon="icon" class="ml-3"></fa>
        </template>
    </t-button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { faCircleNotch } from '@fortawesome/pro-regular-svg-icons'

@Component
export default class Button extends Vue {
    @Prop({ type: [String], default: 'primary' })
    variant!: string

    @Prop({ type: [Boolean], default: false })
    loading!: boolean

    @Prop({ type: [String, Object, Array, Boolean], default: false })
    icon!: string | object | [] | boolean

    @Prop({ type: [String, Object] })
    to!: string | object

    @Prop({ type: [String], default: 'left' })
    iconPosition!: 'left' | 'right'

    @Prop({ type: [String], default: 'base' })
    size!: string

    public icons = {
        faCircleNotch,
    }

    public sizes = {
        xs: 'text-xs px-1 py-0.5',
        sm: 'text-sm px-2 py-1',
        base: 'text-base px-4 py-2',
        lg: 'text-lg px-4 py-2',
    }

    public onClick(event: any) {
        this.$emit('click', event)
    }
}
</script>

<style scoped lang="scss"></style>
