<template>
    <div class='h-full'>
        <div v-if='!initialized' class='flex items-center justify-center h-full w-full py-12'>
            <div>
                <ps-spinner :active='!initialized'></ps-spinner>
            </div>
        </div>

        <ps-list-group v-else flush>
            <ps-list-group-item v-if='$scopedSlots.beforeTabs'>
                <slot name='beforeTabs' v-bind="{formData}"></slot>
            </ps-list-group-item>
            <ps-list-group-item v-if='tabs.length > 1'>
                <ps-tabs>
                    <ps-tab v-for='(tab, index) in tabs' :key='index' :active='activeTab === index' @click.native='activeTab = index'>
                        {{ tab }}
                    </ps-tab>
                </ps-tabs>
            </ps-list-group-item>
            <ps-list-group-item v-if='$scopedSlots.afterTabs'>
                <slot name='afterTabs' v-bind="{formData}"></slot>
            </ps-list-group-item>
            <ps-list-group-item v-if='initialized' :no-padding='inline' class='py-6' :class="{ 'px-6': !inline }">
                <form :class="[inline ? 'divide-y' : 'space-y-3']">
                    <template v-for='(field, index) in activeFields'>
                        <div :key='index'>

                            <slot :name="'beforeField-' + field.attribute" v-bind="{formData}"></slot>

                            <component
                                :is='componentName(field)'
                                v-if='fieldComponentExists(field)'
                                v-model='formData'
                                v-bind='{ field, viaResource, viaResourceId }'
                            ></component>

                            <div v-else :key='index' class='rounded bg-danger-50 border border-danger-200 p-2 text-sm text-danger-700'>
                                Component `{{ componentName(field) }}` not registered to show `{{ field.attribute }}`
                            </div>

                            <!-- FORM ERROR-->
                            <template v-if='formErrors[field.attribute]'>
                                <div
                                    v-for='(error, index) of formErrors[field.attribute]'
                                    :key="field.attribute + '_' + index"
                                    class='text-danger text-xs px-2 mt-1'
                                >
                                    <div>{{ error }}</div>
                                </div>
                            </template>
                        </div>
                    </template>
                </form>
            </ps-list-group-item>
            <slot name='toolbar' v-bind='{ isDirty, onSubmit, onCancel, loading }'>
                <ps-list-group-item v-if='showToolbar'>
                    <ps-button :icon='icons.faCheck' variant='success'>Opslaan</ps-button>
                </ps-list-group-item>
            </slot>
        </ps-list-group>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, VModel, Watch } from 'vue-property-decorator'
import _ from 'lodash'
import { faCheck } from '@fortawesome/pro-regular-svg-icons'
import { Model } from '@vuex-orm/core'
import AcceptsEntity from '@provide-smart/core/src/mixins/AcceptsEntity'
import Field from '../../models/fields/Field'
import { toPascalCase } from '../../utils/StringHelpers'

@Component
export default class EntityForm extends AcceptsEntity {
    @Prop({type: Boolean, default: false})
    inline!: boolean

    @Prop({type: Boolean, default: false})
    stacked!: boolean

    @Prop({type: Boolean, default: false})
    showToolbar!: boolean

    @Prop({type: Boolean, default: false})
    quickCreate!: boolean

    @Prop({type: Object})
    defaultValues!: Record<string, any>

    @Prop({type: Array})
    disabledFields!: string[]

    @Prop({type: Array, default: () => []})
    hiddenFields!: string[]

    @VModel({
        type: Object, default: () => {
            return {}
        }
    })
    public modelData!: Record<string, any>

    @Watch('modelData')
    onModelDataChanged() {
        this.formData = this.modelData
    }

    @Watch('formData')
    onFormDataChanged() {
        this.modelData = this.formData
    }

    public formData: Record<string, any> = {}

    protected originalFormData: Record<string, any> = {}

    public loading: boolean = false

    public activeTab: number = 0


    public formErrors: Record<string, any> = {}

    public icons: Record<string, any> = {
        faCheck,
    }

    public async onSubmit() {
        this.loading = true

        let success = false
        let newInstance

        try {
            if (this.formData?.id) {
                await this.entityModel.api().update(this.formData.id, this.convertObjectToFormData())
            } else {
                newInstance = await this.entityModel.api().create(this.prepareFormData())
            }

            success = newInstance ? newInstance.entities[this.entity][0] : true

            this.formErrors = {}

            this.$toasts.success({
                title: 'Successfully saved form',
                description: 'Proceed or go back to the index page',
            })

            if (this.entityInstance instanceof Model) {
                this.formData         = this.entityInstance?.$toJson()
                this.originalFormData = _.clone(this.formData)
            }
        } catch (e: any) {
            if (e.response) {
                switch (e.response.status) {
                case 422:
                    this.formErrors = e.response?.data?.errors
                    break
                default:
                    this.$toasts.error({
                        title: 'Failed to save the entity',
                        description: 'An unexpected error occurred',
                        duration: 3,
                    })
                    break
                }
            } else {
                this.$toasts.error({
                    title: 'Failed to save the entity',
                    description: 'An unexpected error occurred',
                    duration: 3,
                })
            }
        }

        this.loading = false

        return Promise.resolve(success)
    }

    public onCancel() {
        this.formData = _.clone(this.originalFormData)
    }

    async mounted() {
        await this.initialize()

        if (this.entityInstance instanceof Model) {
            this.formData         = this.entityInstance.$toJson()
            this.originalFormData = this.entityInstance.$toJson()
        }

        const formData: any = {
            ...this.formData,
            ...this.defaultValues
        }

        this.formData         = Object.assign({}, formData)
        this.originalFormData = Object.assign({}, formData)
    }

    get isDirty() {
        return !_.isEqual(this.formData, this.originalFormData)
    }

    get tabs() {
        return this.resource.panels || []
    }

    get formFields() {
        return this.resource.fields
            .map((field: Field) => {
                field          = new Field(field)
                field.stacked  = this.stacked
                field.readonly = this.disabledFields?.includes(field.attribute) || false

                return field
            })
            .filter((field: Field) => field.visibility.showOnCreation && (this.quickCreate ? field.isQuickCreate : true))
    }

    get activeFields(): Field[] {
        let fields = this.formFields || []

        if (this.tabs.length > 1) {
            const activeTab = this.tabs[this.activeTab]

            fields = fields.filter((field: Field) => field.panel === activeTab)
        }

        return fields.filter((field: Field) => !this.hiddenFields.includes(field.attribute))

        // // set the stacked property in the field based on the component prop
        // return fields
        //     .map((field: Field) => {
        //         field         = new Field(field)
        //         field.stacked = this.stacked
        //
        //         return field
        //     })
        //     .filter((field: Field) => field.visibility.showOnCreation && (this.quickCreate ? field.isQuickCreate : true))
    }

    public componentName(field: Field) {
        return toPascalCase((this.inline ? 'detail-' : 'form-') + field.component)
    }

    public fieldComponentExists(field: Field) {
        return this.$options?.components?.[this.componentName(field)] || false
    }

    protected prepareFormData() {
        const formData: any = _.clone(this.formData)

        this.formFields.forEach((field: Field) => {
            if (field.isRelation) {
                formData[field.attribute] = formData[field.attribute]?.id || formData[field.attribute]
            }
        })

        return formData
    }

    protected convertObjectToFormData(): FormData {
        const formData = new FormData()

        Object.keys(this.formData).forEach((key) => {
            if (this.formData[key] !== null) {
                let value = this.formData[key]

                if (value === true || value === false) {
                    value = value ? 1 : 0
                }

                if (typeof value === 'object') {
                    value = JSON.stringify(value)
                }

                formData.append(key, value)
            }
        })

        this.formFields.forEach((field: Field) => {
            if (field.isRelation) {
                let value = this.formData[field.attribute]?.id || this.formData[field.attribute]

                if (typeof value === 'object' && value !== null) {
                    value = JSON.stringify(value)
                }

                value = value === null ? '' : value

                if (formData.has(field.attribute)) {
                    formData.set(field.attribute, value)
                } else {
                    formData.append(field.attribute, value)
                }
            }

            if (field.isFileField() && typeof this.formData[field.attribute] !== 'object') {
                formData.delete(field.attribute)
            }
        })

        return formData
    }
}
</script>

<style scoped lang='scss'></style>
