<template>
    <div class='h-full'>
        <entity-form
            ref='entityForm'
            v-bind='{ entity, entityId, viaResource, viaResourceId, defaultValues, disabledFields }'
            stacked
            quick-create
            :show-toolbar='false'
        ></entity-form>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Ref } from 'vue-property-decorator'
import ModalableComponent from '../modal/ModalableComponent'
import AcceptsEntity from '../../mixins/AcceptsEntity'
import EntityForm from './EntityForm.vue'

@Component({
    components: {
        'entity-form': EntityForm,
    },
})
export default class QuickCreateModal extends AcceptsEntity implements ModalableComponent {
    @Ref('entityForm')
    entityForm!: EntityForm

    @Prop({type: Object})
    defaultValues!: Record<string, any>

    @Prop({type: Array})
    disabledFields!: string[]

    protected resultingInstance: any = null

    mounted() {
        if (this.prefetch) {
            this.initialize()
        }
    }

    getData(): any {
        return this.resultingInstance
    }

    async isValidForAccept(): Promise<boolean> {
        const result = await this.entityForm.onSubmit()

        this.resultingInstance = result || null

        return Promise.resolve(result)
    }

    notifyAccepted(): Promise<void> {
        return Promise.resolve()
    }

    notifyDismissed(): Promise<void> {
        return Promise.resolve()
    }
}
</script>

<style scoped lang='scss'></style>
