<template>
    <div class="divide-y" :class="[flush ? '' : 'border']">
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class PsListGroup extends Vue {

    @Prop([Boolean])
    flush!: boolean;

}
</script>

<style scoped lang="scss">

</style>
