<template>
    <div :class="[!noPadding ? 'px-4 py-3' : '']">
        <slot></slot>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class PsListGroupItem extends Vue {
    @Prop([Boolean])
    noPadding!: boolean
}
</script>

<style scoped lang='scss'></style>
