<template>
    <div>
        <slot v-if="search" name="search">
            <t-input ref="search" v-model="searchValue" placeholder="Search..." variant="no-border" @blur="blur" @input="onSearch"></t-input>
        </slot>

        <div class="h-52 max-h-52 overflow-y-scroll text-sm">
            <div v-for="(option, index) in visibleOptions" :key="index" class="px-3 py-1.5 hover:bg-gray-100 cursor-pointer space-x-4 flex items-center" :class="{'bg-success-50': isSelected(option)}" @click="toggleOption(option)">
                <t-checkbox v-if="multiple" v-model="selection" :value="getOptionValue(option)" name="selection" @blur="blur"></t-checkbox>
                <div>
                    <slot name="option" v-bind="option">
                        {{ getOptionLabel(option) }}
                    </slot>
                </div>
            </div>

            <div v-if="isLoadingState" class="px-3 py-1.5 space-y-2">
                <div v-for="(index) in [1,2,3,4,5,6]" :key="index" class="flex space-x-4">
                    <ps-skeleton v-if="multiple" class="h-4 w-4"></ps-skeleton>
                    <ps-skeleton class="h-4 flex-grow"></ps-skeleton>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Emit, VModel, Watch } from 'vue-property-decorator';
import { isArray } from 'lodash';
import { mixins } from 'nuxt-property-decorator';
import { faSpinnerThird } from '@fortawesome/pro-duotone-svg-icons';
import { Debounce } from 'vue-debounce-decorator';
import SelectMixin from '~/modules/@provide-smart/core/src/utils/mixins/SelectMixin';
import LCEMixin from '~/modules/@provide-smart/core/src/mixins/LCEMixin.vue';

type OptionValue = number | string

interface Option {
    value: OptionValue,
    text: any
}

@Component
export default class SelectableList extends mixins(SelectMixin, LCEMixin) {

    @VModel({type: [String, Number, Array], default: () => []})
    selected!: OptionValue[] | string | number | null

    @Watch('selected', {immediate: true})
    onSelectedChanged(value: any) {
        this.selection = value
    }

    @Emit()
    blur(e: any) {
        return e
    }

    @Emit()
    change(selected: OptionValue[] | string | number | null) {
        return selected
    }

    public icons: any = {
        faSpinnerThird
    }

    public searchValue: string = ''

    public selection: OptionValue[] | string | number | null = []

    mounted() {
        this.onSearch()

        const search: HTMLInputElement = this.$refs.search as HTMLInputElement;

        search?.focus()
    }

    public getOptionLabel(option: Record<string, any>) {
        return option[this.labelKey] || ''
    }

    public getOptionValue(option: Record<string, any>) {
        return option[this.valueKey] || ''
    }

    public isSelected(option: Option) {
        if (this.multiple && typeof this.selection === 'object') {
            return this.selection
                ? this.selection?.indexOf(this.getOptionValue(option)) >= 0
                : false
        }

        return this.getOptionValue(option) === this.selection
    }

    public toggleOption(option: Option) {

        if (this.multiple && isArray(this.selection)) {
            if (this.selection.includes(this.getOptionValue(option))) {
                this.selection = this.selection.filter((selected: any) => selected !== this.getOptionValue(option))
            } else {
                this.selection = this.selection.concat([this.getOptionValue(option)])
            }
        } else {
            this.selection = this.getOptionValue(option)
        }

        this.selected = this.selection

        this.change(this.selection)
    }

    public onSearch() {
        if (this.api && this.fetchOptions) {
            this.fetchOptionsCallback(...arguments)
        } else {
            this.visibleOptions = this.options.concat([])
        }
    }

    @Debounce(300)
    public async fetchOptionsCallback(search: string = '', nextPage: number = 1) {
            this.visibleOptions = []
            this.setLoading()
            const optionsResult = await this.fetchOptions(search, nextPage)
            this.setContent()

            this.visibleOptions = optionsResult.results
    }

}

</script>
