<template>

    <ps-list-group flush v-if="entities">
        <ps-list-group-item v-for="(entity, index) of entities" :key="index" class="flex space-x-4 items-center" tappable @click="onItemClick(entity, index)">

            <div v-if="select">
                <t-checkbox v-model="selection" :value="entity.$id" name="selection" @change="onSelectionChange"></t-checkbox>
            </div>

            <div>
                <slot name="list-item" v-bind="{entity, index}">
                    {{ entity._title }}
                </slot>
            </div>

        </ps-list-group-item>
    </ps-list-group>

</template>

<script lang="ts">

import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Item, Model } from '@vuex-orm/core';
import Query from '@provide-smart/core/src/utils/Query'

@Component
export default class EntityList extends Vue {

    @Prop({type: Boolean, default: false})
    select!: boolean

    @Prop({type: Boolean, default: false})
    selectOnClick!: boolean

    @Prop({type: Boolean, default: false})
    loading!: boolean

    @Prop({type: Array})
    entities!: Item[]

    @Prop({
        type: Object, default: () => {
        }
    })
    query!: Query

    public selection: number[] | string[] = []

    public selectAllVisible: boolean = false
    public selectAll: boolean = false

    public get orderByDirection() {
        return Object.values(this.query?.orderBy || ['asc'])[0]
    }

    public get orderByAttributeName() {
        const orderBy = Object.keys(this.query?.orderBy || [])

        return orderBy.length ? orderBy[0] : null
    }

    public onSelectAllVisible(checked: boolean) {
        if (checked) {
            this.selection = this.entities.map((entity: any) => entity.$id)
        } else {
            this.selection = []
        }
    }

    public onSelectAll(checked: boolean) {
        this.selectAll = checked
    }

    public onSelectionChange() {
        this.selectAllVisible = this.selection.length === this.entities.length

        this.selectAll = !this.selectAllVisible ? false : this.selectAll
    }

    public onItemClick(entity: Model, index: number) {
        console.log('ON ITEM CLICK', entity, index)

        if (this.selectOnClick) {
            const id: any = entity.$id || null
            // this.selection.indexOf(id)
        }
    }

}

</script>
