<template>

    <ps-list-group v-if="entities" flush class="relative">

        <table ref='table' class='table-fixed w-full text-base relative'>

            <colgroup>
                <col v-if="select" style="width: 40px">
                <col v-for='(column, index) in availableColumns' :key="index" :style="{width: column.getColumnWidthInPixels()}">
            </colgroup>

            <thead class='relative'>
            <tr class='divide-x border-b relative'>
                <th v-if="select" :class="headingClass" class="sticky left-0 z-20">
                    <t-checkbox v-model="selectAllVisible" @input="onSelectAllVisible"></t-checkbox>
                    <span class="absolute w-0.5 bg-gray-200 inset-y-0" style="right: -1px"></span>
                </th>

                <th
                    v-for='(column, index) in availableColumns'
                    :key='index'
                    :class="[headingClass, column.textAlign ? 'text-' + column.textAlign : '', {'sticky': column.sticky}]"
                    :style="{left: column.sticky ? getStickyLeftPositioning(index) + 'px' : null}"
                    class='cursor-pointer font-medium text-ellipsis overflow-hidden'
                    @click='sort(column)'
                >
                    <div class='flex justify-between items-center gap-x-4'>
                        <div class='whitespace-nowrap'>
                            {{ column.getLabel() }}
                        </div>

                        <div v-if="column.sortable">
                            <span v-show="orderByDirection === 'asc' && orderByAttributeName === column.name"><fa :icon='icons.faSortUp'></fa></span>
                            <span v-show="orderByDirection === 'desc' && orderByAttributeName === column.name "><fa :icon='icons.faSortDown'></fa></span>
                            <span v-show='orderByAttributeName !== column.name'><fa :icon='icons.faSort'></fa></span>
                        </div>
                    </div>
                    <span v-if="isLastStickyColumn(index)" class="absolute w-0.5 bg-gray-200 inset-y-0" style="right: -1px"></span>
                </th>
            </tr>
            </thead>
            <tbody ref='tbody' class='relative divide-y'>
            <template v-for='(item, rowIndex) in entities'>
                <tr :key="rowIndex" :class="tableRowClass">
                    <td v-if='select' class='text-center sticky left-0 group-hover:bg-success-50 bg-white' style='width: 50px'>
                        <t-checkbox v-model="selection" :value="item.$id" name="selection" @change="onSelectionChange"></t-checkbox>
                        <span class="absolute w-0.5 bg-gray-200 inset-y-0" style="right: -1px"></span>
                    </td>
                    <td
                        v-for='(column, columnIndex) in availableColumns'
                        :key='columnIndex'
                        class='px-2 py-1.5 text-sm'
                        :class="[column.textAlign ? 'text-' + column.textAlign : 'text-left', {'sticky bg-white group-hover:bg-success-50': column.sticky}]"
                        :style='{ width: column.getColumnWidthInPixels(), left: column.sticky ? getStickyLeftPositioning(columnIndex) + "px" : null }'
                        @click='rowClick(item)'
                    >
                        <div :class='[clippingClass(column)]'>
                            <!--                <slot :name="'cell-slot-' + column.name" v-bind="{column, value: item[column.name]}">-->
                            <!--                    {{ item[column.name] }}-->
                            <!--                </slot>-->
                            <slot :name="'cell-' + column.name" v-bind="{value: item[column.name], column, item}">
                                <template v-if='componentExists(column.component)'>
                                    <component v-if="typeof column.component === 'string'" :is="'index-' + column.component" v-bind='{ item: item, column }'></component>
                                    <component v-else :is="column.component" v-bind='{ item: item, column }'></component>
                                </template>
                                <template v-else>
                                    {{ item[column.name] || '-' }}
                                </template>
                            </slot>
                        </div>
                        <span v-if="isLastStickyColumn(columnIndex)" class="absolute w-0.5 bg-gray-200 inset-y-0" style="right: -1px"></span>
                    </td>
                </tr>
            </template>

            <template v-if='loading && !entities.length'>
                <tr v-for='(n, index) in query.perPage' :key='index'>
                    <td v-if='select'></td>
                    <td v-for='(column, index2) in availableColumns' :key='index2' class='px-2 py-1.5'>
                        <ps-skeleton class='h-5 w-2/3'></ps-skeleton>
                    </td>
                </tr>
            </template>

            <tr v-if='loading && entities.length' class='absolute top-0 bottom-0 w-full'>
                <slot name='loading'>
                    <div class='p-10 h-full text-center justify-center flex items-center bg-white bg-opacity-50'>
                        <fa :icon='icons.faSpinner' size='lg' spin></fa>
                    </div>
                </slot>
            </tr>

            </tbody>
        </table>

        <!--        <ps-list-group-item v-for="(entity, index) of entities" :key="index" class="flex space-x-4 items-center" tappable @click="onItemClick(entity, index)">-->

        <!--            <div v-if="select">-->
        <!--                <t-checkbox v-model="selection" :value="entity.$id" name="selection" @change="onSelectionChange"></t-checkbox>-->
        <!--            </div>-->

        <!--            <div>-->
        <!--            <slot name="list-item" v-bind="{entity, index}">-->
        <!--                {{ entity._title }}-->
        <!--            </slot>-->
        <!--            </div>-->

        <!--        </ps-list-group-item>-->
    </ps-list-group>

</template>

<script lang="ts">
import { Component, Emit, Prop } from 'vue-property-decorator';
import EntityList from '~/modules/@provide-smart/core/src/components/entity-list/EntityList.vue';
import { faSpinner } from '@fortawesome/pro-light-svg-icons';
import { faSort, faSortDown, faSortUp } from '@fortawesome/pro-duotone-svg-icons';
import _ from 'lodash';
import { Item } from '@vuex-orm/core';
import { ClipMode } from '~/modules/@provide-smart/core/src/components/datatable/columns/enum';
import { ColumnModel } from '@provide-smart/core/src/components/datatable/columns/model';

@Component
export default class EntityTable extends EntityList {

    @Prop({type: Array, default: () => []})
    columns!: ColumnModel[]

    @Prop({type: [String], default: 'font-medium text-sm text-gray-600 uppercase px-2 py-2 bg-gray-100 hover:bg-secondary-50'})
    headingClass!: string

    @Prop({type: [String], default: 'hover:bg-secondary-50 active:bg-secondary-50'})
    tableRowClass!: string

    @Emit()
    rowClick(entity: Item) {
        return entity
    }

    @Emit()
    sort(column: ColumnModel) {
        return column.name
    }

    public icons = {
        faSort,
        faSortUp,
        faSortDown,
        faSpinner,
    }

    public get availableColumns() {
        return this.columns.filter((column: ColumnModel) => column.active)
    }

    public clippingClass(column: ColumnModel) {
        switch (column.clipMode) {
        case ClipMode.CLIP:
            return 'truncate overflow-clip'
        case ClipMode.ELLIPSIS:
            return 'truncate'
        }

        return ''
    }

    public componentExists(componentName: string | object) {
        return typeof componentName === 'function' || this.componentToPascalCase('index-' + componentName) in (this.$options?.components || {})
    }

    public getStickyLeftPositioning(index: number) {
        return this.availableColumns.reduce((carry: number, item: ColumnModel, columnIndex: number) => {

            if (item.sticky && columnIndex < index) {
                carry += item.width as number || 150
            }

            return carry
        }, this.select ? 40 : 0)
    }

    public isLastStickyColumn(index: number) {
        return this.availableColumns.filter((column: ColumnModel) => column.sticky).length === index + 1
    }

    protected componentToPascalCase(componentName: string) {
        const base = _.camelCase(componentName)

        return base.charAt(0).toUpperCase() + base.substr(1)
    }

}

</script>

