<template>

    <div>
        <slot v-bind="{collection, model, service, collectionQuery, totals, loading: isLoadingState}"></slot>
    </div>

</template>

<script lang="ts">
import { Component, Emit, Prop, Watch } from 'vue-property-decorator'
import { Debounce } from 'vue-debounce-decorator'
import { mixins } from 'nuxt-property-decorator'
import Query, { QueryOrderByEnum } from '@provide-smart/core/src/utils/Query'
import LCEMixin from '~/modules/@provide-smart/core/src/mixins/LCEMixin.vue'
import qs from 'qs';

@Component
export default class EntityCollection extends mixins(LCEMixin) {

    @Prop({type: String, required: true})
    entity!: string;

    @Prop({type: Boolean, default: false})
    api!: boolean;

    @Prop({type: Boolean, default: false})
    urlPersistence!: boolean;

    @Prop({type: Object})
    query!: Query;

    public apiResultIds: number[] = [];

    public totals = {
        pages: 1,
        results: null,
    };

    public collectionQuery: Query = {};

    @Watch('query')
    onQueryChanged() {
        this.updateQuery(this.query)
    }

    @Emit()
    queryChanged() {
        return this.collectionQuery
    }

    public mounted() {
        const query = this.urlPersistence && window.location.search
            ? qs.parse(window.location.search.substr(1))
            : {
                ...this.query,
            }

        // force page and perPage params to be integers
        query.page    = query.page ? parseInt(query.page + '') : 1
        query.perPage = query.perPage ? parseInt(query.perPage + '') : 15

        this.updateQuery(query)
    }

    public get model() {
        return this.$store.$db().model(this.entity)
    }

    public get collection() {
        return this.api
            ? this.model.query().whereIdIn(this.apiResultIds).withAll().get()
            : this.model.query().get()
    }

    public get service() {
        return {
            search: (searchQuery: any) => {
                this.updateQuery({
                    search: searchQuery
                })
            },
            setFilter: (filterName: string, value: any) => {
                this.updateQuery({
                    filter: {
                        ...this.collectionQuery.filter,
                        [filterName]: value
                    }
                })
            },
            resetFilter: (filterName: string) => {
                this.updateQuery({
                    filter: Object.keys(this.collectionQuery?.filter || {})
                        .filter((filterKey: string) => filterKey !== filterName)
                        .reduce((previous: any, filterKey: string) => {
                            previous[filterKey] = this.collectionQuery?.filter?.[filterKey]

                            return previous
                        }, {})
                })
            },
            paginate: (page: number, perPage: number) => {
                this.updateQuery({
                    page,
                    perPage
                })
            },
            sort: (columnName: string) => {
                const order = this.collectionQuery.orderBy?.[columnName] === QueryOrderByEnum.ASC ? QueryOrderByEnum.DESC : QueryOrderByEnum.ASC

                this.updateQuery({
                    orderBy: {
                        [columnName]: order
                    }
                })
            }
        }
    }

    @Debounce(300)
    public async loadApiResults() {
        this.setLoading()

        const response       = await this.model?.api().index(this.collectionQuery)
        const responseObject = response.response.data

        if (responseObject.data?.length) {
            this.setContent()
        } else {
            this.setEmpty()
        }

        this.apiResultIds   = responseObject.data.map((item: Record<string, any>) => item.id)
        this.totals.pages   = responseObject.meta.last_page
        this.totals.results = responseObject.meta.total
    }

    public updateQuery(query: Query) {
        this.collectionQuery = {
            ...this.collectionQuery,
            ...query
        }

        if (this.api) {
            this.loadApiResults()
        }

        if (this.urlPersistence && this.significantQueryChange()) {
            history.replaceState(null, '', window.location.pathname + '?' + qs.stringify(this.collectionQuery))
        }

        this.queryChanged()
    }

    public significantQueryChange() {
        return Object.keys(this.collectionQuery).length > 2
            || (this.collectionQuery?.page || 1) > 1
            || window.location.search.substr(1) !== ''
    }

};
</script>
