<template>
    <button class="py-1 px-4 text-sm" :class="[active ? activeClass : '', inActiveClass]">
        <slot></slot>
    </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class PsTab extends Vue {
    @Prop([Boolean])
    active!: boolean

    @Prop({ type: String, default: 'bg-primary text-white hover:bg-primary' })
    activeClass!: string

    @Prop({ type: String, default: 'hover:bg-gray-100 rounded' })
    inActiveClass!: string
}
</script>

<style scoped lang="scss"></style>
