<template>
    <div class="space-x-2" :class="[inline ? 'inline-flex' : 'flex']">
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class PsTabs extends Vue {
    @Prop({ type: Boolean, default: true })
    inline!: boolean
}
</script>

<style scoped lang="scss"></style>
