<template>
        <span class='inline-flex items-center justify-center rounded-full' :class='[sizes[size].wrapper, backgroundClass, textClass]'>
            <span v-if='slotValue.tag === undefined' class='leading-none' :class='[sizes[size].text]'>
                {{ initials }}
            </span>
            <slot v-else></slot>
        </span>
</template>

<script lang='ts'>
import { Component, Prop } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class Avatar extends Vue {
    @Prop({ type: String, default: '' })
    text!: string

    @Prop({ type: String, default: 'medium' })
    size!: string

    @Prop({ type: String, default: 'bg-gray-500' })
    backgroundClass!: string

    @Prop({ type: String, default: 'text-white' })
    textClass!: string

    get initials() {
        const text     = this.slotValue?.text || ''
        const words    = text.trim().split(' ')
        const initials = words.map((word) => word.substr(0, 1).toUpperCase()).join('')

        return initials.slice(0, 2) || '-'
    }

    get slotValue() {
        return this.$slots?.default?.[0]
    }

    protected sizes = {
        xs: {
            wrapper: 'h-6 w-6',
            text: 'text-xs',
        },
        sm: {
            wrapper: 'h-8 w-8',
            text: 'text-sm',
        },
        medium: {
            wrapper: 'h-10 w-10',
            text: 'text-medium',
        },
        lg: {
            wrapper: 'h-12 w-12',
            text: 'text-lg',
        },
        xl: {
            wrapper: 'h-14 w-14',
            text: 'text-xl',
        },
    }
}
</script>

<style scoped lang='scss'></style>
