<template>
    <div class='p-6 space-y-6'>
        <div>
            <label for='datatableViewName' class='font-bold mb-2 block'>{{ $t('DATATABLE_VIEW_NAME') }}</label>
            <text-input id='datatableViewName' v-model='tableViewName' :disabled="tableViewName === 'All'"></text-input>
        </div>
        <div>
            <label for='datatableViewName' class='font-bold mb-2 block'>{{ $t('DATATABLE_COLUMN_ORDER_VISIBILITY') }}</label>
            <ps-list-group class='rounded'>
                <draggable
                    v-model='editableList'
                    class='divide-y'
                    v-bind='dragOptions'
                    draggable='.draggable'
                    @start='drag = true'
                    @stop='drag = false'
                >
                    <ps-list-group-item
                        v-for='(column, index) in editableList'
                        :key='column.name'
                        class='flex items-center'
                        :class='{ draggable: column.active }'
                    >
                        <div class='w-12 px-2 text-gray-500' :class="{ 'cursor-grab active:cursor-grabbing': column.active }">
                            <span v-show='column.active'>
                                <fa :icon='icons.faGripLines'></fa>
                            </span>
                        </div>
                        <div class="pr-4">
                            <span v-if="!column.sticky" class="cursor-pointer text-gray-300 hover:text-success-600" @click="pinColumn(column, index)">
                                <fa :icon="icons.faThumbtack"></fa>
                            </span>

                            <span v-else class="cursor-pointer text-success-600 hover:text-gray-300" @click="pinColumn(column, index)">
                                <fa :icon="icons.faThumbtackSolid"></fa>
                            </span>
                        </div>

                        <div class='px-2 flex-grow' :class="[column.active ? 'text-gray-700' : 'text-gray-300']">{{ column.label }}</div>
                        <div>
                            <t-toggle :checked='column.active' variant='success' @input='updateColumnState($event, column)'></t-toggle>
                        </div>
                    </ps-list-group-item>
                </draggable>
            </ps-list-group>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop } from 'vue-property-decorator'
import Vue from 'vue'
import ModalableComponent from '@provide-smart/core/src/components/modal/ModalableComponent'
import { ColumnModel } from '@provide-smart/core/src/components/datatable/columns/model'
import draggable from 'vuedraggable'
import { faGripLines, faThumbtack } from '@fortawesome/pro-regular-svg-icons'
import { faThumbtack as faThumbtackSolid } from '@fortawesome/pro-solid-svg-icons'
import { ColumnInterface } from '~/modules/@provide-smart/core/src/components/datatable/columns/interface';

@Component({
    components: {
        draggable,
    },
})
export default class DatatableSettings extends Vue implements ModalableComponent {
    @Prop({})
    columns!: ColumnModel[]

    @Prop({type: String})
    viewName!: string | null

    public icons = {
        faGripLines,
        faThumbtack,
        faThumbtackSolid
    }

    public tableViewName: string | null = ''

    public drag = false

    public dragOptions = {
        animation: 200,
        group: 'description',
        disabled: false,
        ghostClass: 'opacity-40',
    }

    public editableList: ColumnModel[] = []

    public mounted() {
        this.tableViewName = this.viewName
        this.editableList  = [...this.columns]
            .map((column: ColumnModel) => {
                return Object.assign({}, column)
            })
            .sort(this.sortActive)
    }

    public updateColumnState(event: any, column: ColumnModel) {
        this.editableList = this.editableList
            .map((item: ColumnModel) => {
                if (item.name === column.name) {
                    item.active = event
                }

                return item
            })
            .sort(this.sortActive)
    }

    public pinColumn(column: ColumnModel, index: number) {

        this.editableList = this.editableList
            .map((column: ColumnModel, columnIndex: number) => {
                column.sticky = columnIndex === index ? !column.sticky : column.sticky

                return column
            })
            // eslint-disable-next-line @typescript-eslint/no-unused-vars
            .filter((column: ColumnInterface, columnIndex: number) => columnIndex !== index)

        // Determine new order
        // 1. get last sticky column index
        const latestStickyColumnIndex: false | number = this.editableList.reduce((carry: any, column: ColumnInterface, index: number) => {
            if (column.sticky) {
                carry = index
            }

            return carry
        }, false)

        // 2. re-order columns
        if (latestStickyColumnIndex !== false) {
            this.editableList.splice(latestStickyColumnIndex + 1, 0, column)
        } else {
            this.editableList.splice(0, 0, column)
        }
    }

    protected sortActive(a: ColumnModel, b: ColumnModel) {
        return a.active === b.active ? 0 : a.active ? -1 : 1
    }

    isValidForAccept(): boolean | Promise<boolean> {
        return Promise.resolve(true)
    }

    getData() {
        return {
            columnSettings: this.editableList,
            name: this.tableViewName,
        }
    }

    notifyDismissed(): Promise<void> {
        return Promise.resolve()
    }

    notifyAccepted(): Promise<void> {
        return Promise.resolve()
    }
}
</script>

<style scoped lang='scss'></style>
