<template>
    <tr>
        <slot></slot>
    </tr>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class DatatableColumns extends Vue {

}
</script>

<style scoped lang="scss">

</style>
