<template>

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class DatatableColumn extends Vue {

}
</script>

<style scoped lang="scss">

</style>
