<template>
    <div>
        {{ value || '-' }}
    </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexBelongsToField extends IndexFieldMixin {
    get value() {
        return this.item?.[this.column.name]?._title
    }
}
</script>

<style scoped lang="scss"></style>
