<template>
    <div class='w-12 h-12 rounded border flex items-center justify-center text-gray-300' :style='{background: value ? "url(" +value+ ") no-repeat 50% 50%" : null, "background-size": "contain"}'>
        <fa v-if='!value' :icon='icons.faImage' size='lg'></fa>
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import { faImage } from '@fortawesome/pro-regular-svg-icons'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexFileField extends IndexFieldMixin {

    icons = {
        faImage,
    }

    get value() {
        return this.item[this.column.name]
    }

}
</script>

<style scoped lang='scss'>

</style>
