<template>
    <div>
        {{ value }}
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import { Item } from '@vuex-orm/core'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexBelongsToManyField extends IndexFieldMixin {

    get value() {
        return this.item?.[this.column.name]?.map((relation: Item<any>) => relation._title).join(', ')
    }

}
</script>

<style scoped lang='scss'>

</style>
