<template>
    <div>
        <span v-if="value" :class='[column.options[value], "inline-flex items-center px-3 py-0.5 rounded-lg text-sm"]'>{{ value }}</span>
        <span v-else>-</span>
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexBadgeField extends IndexFieldMixin {

    get value() {
        return this.item[this.column.name]
    }

}
</script>

<style scoped lang='scss'>

</style>
