<template>
    <div>
        <span v-if="value">{{ value | formatDate }}</span>
        <span v-else>-</span>
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexDateField extends IndexFieldMixin {


}
</script>

<style scoped lang='scss'>

</style>
