<template>
    <div>
        {{ value | currency }}
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexBadgeField extends IndexFieldMixin {

    get value() {
        return this.item[this.column.name]
    }

}
</script>

<style scoped lang='scss'>

</style>
