<template>
    <div>
        <div class='font-bold'>
            <template v-for='(line, index) in headings'>
                <span v-if="line.component === 'line-field'" :key='index'>{{ item[line.attribute] }}&nbsp;</span>
                <component :is='line.component' v-else :key='index' v-bind='line'></component>
            </template>
        </div>
        <div>
            <template v-for='(line, index) in base'>
                <span v-if="line.component === 'line-field'" :key='index'>{{ item[line.attribute] }}&nbsp;</span>
                <component :is='line.component' v-else :key='index' v-bind='line'></component>
            </template>
        </div>
        <div class='text-sm text-gray-500'>
            <template v-for='(line, index) in subtitles'>
                <span v-if="line.component === 'line-field'" :key='index'>{{ item[line.attribute] }}&nbsp;</span>
                <component :is='line.component' v-else :key='index' v-bind='line'></component>
            </template>
        </div>
        <div class='text-xs text-gray-400'>
            <template v-for='(line, index) in small'>
                <span v-if="line.component === 'line-field'" :key='index'>{{ item[line.attribute] }}&nbsp;</span>
                <component :is='line.component' v-else :key='index' v-bind='line'></component>
            </template>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexStackField extends IndexFieldMixin {
    get headings() {
        return this.column.lines.filter((line: Record<string, any>) => line.type === 'extra-large')
    }

    get base() {
        return this.column.lines.filter((line: Record<string, any>) => line.type === 'large')
    }

    get subtitles() {
        return this.column.lines.filter((line: Record<string, any>) => line.type === 'medium')
    }

    get small() {
        return this.column.lines.filter((line: Record<string, any>) => line.type === 'small')
    }
}
</script>

<style scoped></style>
