<template>
    <div>
        <fa v-if='value' :icon='icons.faCheckCircle' class='text-success-400' size='lg'></fa>
        <fa v-else :icon='icons.faTimesCircle' class='text-danger-400' size='lg'></fa>
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import { faCheckCircle, faTimesCircle } from '@fortawesome/pro-light-svg-icons'
import IndexFieldMixin from './IndexFieldMixin'

@Component
export default class IndexBadgeField extends IndexFieldMixin {

    public icons: any = {
        faCheckCircle,
        faTimesCircle,
    }

}
</script>

<style scoped lang='scss'>

</style>
