<template>
    <div class="flex space-x-2">
        <div v-for="(filter, filterKey) in activeFilters" :key="filterKey" class="rounded bg-gray-100 hover:bg-gray-200 text-gray-600 text-xs flex items-center group">
            <div class="py-1 px-2">{{ getFilter(filterKey).name }}: {{ filter }}</div>
            <div class="bg-gray-200 py-1 px-2 rounded-r group-hover:bg-gray-300 cursor-pointer" @click="resetFilter(filterKey)">
                <fa :icon="icons.faTimes" size="lg"></fa>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Emit, Prop } from 'vue-property-decorator';
import Query from '@provide-smart/core/src/utils/Query'
import { faTimes } from '@fortawesome/pro-regular-svg-icons';
import FilterInterface from '~/modules/@provide-smart/core/src/components/datatable/filter/interface';
import Resource from '~/modules/@provide-smart/core/src/models/Resource';

@Component
export default class ActiveQueryFilters extends Vue {

    @Prop({type: String})
    entity!: string

    @Prop({type: Object})
    query!: Query

    public icons: any = {
        faTimes
    }

    public get activeFilters() {
        return this.query.filter
    }

    public get filters(): FilterInterface[] {
        return this.$resourceService.get(this.entity)?.filters || Resource.find(this.entity)?.filters || []
    }

    @Emit('resetFilter')
    public resetFilter(filterKey: string) {
        return filterKey
    }

    public getFilter(filterKey: string) {
        return this.filters?.find((filter: FilterInterface) => filter.attribute === filterKey) || false
    }

}

</script>
