<template>
    <div>
        <template v-if="!useInDropdown">
            <div v-if="showLabel">{{ label }}</div>
            <div class="flex justify-between">
                <div>
                    <t-toggle :checked="!!filterValueForOperator(EQ_OPERATOR)" :value="1" :checked-value="1" :unchecked-value="0" @input="setFilter" @blur="blur"></t-toggle>
                </div>
                <!--                <selectable-list :search="false" multiple :options="options" @change="setFilter"></selectable-list>-->
            </div>
        </template>

        <template v-else>
            <div class="flex justify-between">
                <div v-if="showLabel">{{ label }}</div>
                <div>
                    <t-toggle :checked="!!filterValueForOperator(EQ_OPERATOR)" :value="1" :checked-value="1" :unchecked-value="0" @input="setFilter" @blur="blur"></t-toggle>
                </div>
                <!--                <selectable-list :search="false" multiple :options="options" @change="setFilter"></selectable-list>-->
            </div>
        </template>
    </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { mixins } from 'nuxt-property-decorator';
import FilterMixin from '@provide-smart/core/src/components/entity-list/filters/FilterMixin.vue';
import SelectableList from '~/modules/@provide-smart/core/src/components/list-group/SelectableList.vue';
import { QueryFilterEnum } from '~/modules/@provide-smart/core/src/utils/Query';

@Component({
    components: {
        SelectableList
    }
})
export default class BooleanFilter extends mixins(FilterMixin) {

    public EQ_OPERATOR = QueryFilterEnum.EQUAL

    public options: Record<string, any>[] = [
        {
            value: 1,
            text: 'Enabled'
        }
    ]

    public setFilter(event: any) {
        this.$emit('change', {
            eq: event
        })
    }

}

</script>
