<template>
    <div>
        <strong v-if="showLabel">{{ label }}</strong>
        <div>
            <t-datepicker show inline range :value="[filterFrom, filterTo]" :months-per-view="2" user-format="d-m-Y" :week-start="1" @input="setFilter" @blur="blur"></t-datepicker>
        </div>
    </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { mixins } from 'nuxt-property-decorator';
import RangeFilter from '~/modules/@provide-smart/core/src/components/entity-list/filters/RangeFilter.vue';

export enum RangeType {
    INCLUSIVE = 'inclusive',
    EXCLUSIVE = 'exclusive'
}

@Component
export default class DateRangeFilter extends mixins(RangeFilter) {

    public setFilter(range: string[]) {
        this.$emit('change',
            range.length
                ? [range[0],range[1]].join(',')
                : null
        )
    }

}

</script>
