<template>
    <div>
        <template v-if="!useInDropdown">
            <strong v-if="showLabel">{{ label }}</strong>
            <div>
                <label>{{ fromLabel }}</label>
                <t-input :value="filterFrom" type="number" @input="updateFilterFrom" @blur="blur"></t-input>

                <label>{{ toLabel }}</label>
                <t-input :value="filterTo" type="number" @input="updateFilterTo" @blur="blur"></t-input>
            </div>
        </template>

        <template v-else>
            <div v-if="showLabel" class="bg-gray-50 px-4 py-1">
                <strong>{{ label }}</strong>
            </div>
            <div class="p-3">
                <label class="text-xs uppercase">{{ fromLabel }}</label>
                <t-input :value="filterFrom" type="number" placeholder="From..." @input="updateFilterFrom" @blur="blur"></t-input>

                <label class="text-xs uppercase">{{ toLabel }}</label>
                <t-input :value="filterTo" type="number" placeholder="To..." @input="updateFilterTo" @blur="blur"></t-input>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import Query, { QueryFilterEnum, QueryFilters } from '@provide-smart/core/src/utils/Query'
import { mixins } from 'nuxt-property-decorator';
import FilterMixin from '~/modules/@provide-smart/core/src/components/entity-list/filters/FilterMixin.vue';

export enum RangeType {
    INCLUSIVE = 'inclusive',
    EXCLUSIVE = 'exclusive'
}

@Component
export default class RangeFilter extends mixins(FilterMixin) {

    @Prop({type: Object})
    public query!: Query

    @Prop({type: String})
    public filterName!: string

    @Prop({type: String})
    public label!: string

    @Prop({type: String, default: 'From'})
    public fromLabel!: string

    @Prop({type: String, default: 'To'})
    public toLabel!: string

    @Prop({type: String, default: RangeType.INCLUSIVE})
    public type!: RangeType

    public filterModel: Record<string, any> = {}

    public get filterFrom() {
        const values: string[] = this.filterValue?.split(',') || []

        return values[0] || null
    }

    public get filterTo() {
        const values: string[] = this.filterValue?.split(',') || []

        return values[1] || null
    }

    public updateFilterFrom(value: number) {
        this.$emit('change', [value,this.filterTo].join(','))
    }

    public updateFilterTo(value: number) {
        this.$emit('change', [this.filterFrom, value].join(','))
    }
}

</script>
