<template>
    <div>
        <template v-if="!useInDropdown">
            <strong v-if="showLabel">{{ label }}</strong>
            <div>
                <t-rich-select :fetch-options="fetchOptions" :options="options" :multiple="multiple" :close-on-select="!multiple" @input="setFilter" @blur="blur">

                    <template #label="{ className, options, option, query }">
                        <slot name="label" v-bind="{className, options, option, query}">
                            <div v-if="multiple" class="flex space-x-4">
                                <div v-for="(option, index) in options" :key="index" class="py-1 px-3 bg-primary-100 rounded">
                                    {{ option.text }}
                                </div>
                            </div>

                            <div v-if="!multiple" class="flex space-x-4">
                                {{ option.text }}
                            </div>
                        </slot>
                    </template>

                </t-rich-select>
            </div>
        </template>

        <template v-else>
            <div v-if="showLabel" class="bg-gray-50 px-4 py-1">
                <strong>{{ label }}</strong>
            </div>

            <selectable-list :value="selectedOptions" :fetch-options="fetchOptionsCallback" v-bind="{labelKey, valueKey, search, api, options, multiple}" @blur="blur" @input="setFilter">

                    <template v-if="$scopedSlots.label" #option="option">
                        <slot name="label" v-bind="option"></slot>
                    </template>

            </selectable-list>
        </template>
    </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { mixins } from 'nuxt-property-decorator';
import FilterMixin from '@provide-smart/core/src/components/entity-list/filters/FilterMixin.vue';
import Query from '@provide-smart/core/src/utils/Query'
import DropdownSelectInput from '~/modules/@provide-smart/core/src/components/form/inputs/DropdownSelectInput.vue';
import SelectableList from '~/modules/@provide-smart/core/src/components/list-group/SelectableList.vue';
import SelectMixin from '~/modules/@provide-smart/core/src/utils/mixins/SelectMixin';
import AcceptsEntity from '~/modules/@provide-smart/core/src/mixins/AcceptsEntity';

@Component({
    components: {
        DropdownSelectInput,
        SelectableList
    }
})
export default class SelectFilter extends mixins(FilterMixin, SelectMixin, AcceptsEntity) {

    public get selectedOptions(): any[] | number | string {
        return this.filterValue?.split(',') || []
    }

    public setFilter(values: any[]) {
        this.$emit('change', values.join(','))
    }

    mounted() {
        const searchInput: HTMLInputElement = this.$refs.search as HTMLInputElement

        if (searchInput) {
            searchInput.focus()
        }
    }

    public fetchOptionsCallback(search: string = '', nextPage: number = 1) {
        if (!this.api) {
            return null
        }

        if (this.fetchOptions) {
            return this.fetchOptions(search, nextPage)
        }
        
        const query: Query = {
            search,
            page: nextPage || 1,
            perPage: 20
        }

        return this.entityModel
            .api()
            .index(query)
            .then((response: Record<string, any>) => {
                return {
                    results: response.response.data.data,
                    hasMorePages: response.response.data.meta.current_page < response.response.data.meta.last_page,
                }
            })
    }
}

</script>
