<template>
    <div>
        <strong v-if="showLabel">{{ label }}</strong>
        <div class="flex justify-between items-center space-x-4">
            <div class="font-bold">
                {{ $t('Bevat') }}
            </div>
            <div class="flex-grow">
                <t-input ref="textInput" :value="filterValue" @input="setFilterValue" @blur="blur"></t-input>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { mixins } from 'nuxt-property-decorator';
import FilterMixin from '@provide-smart/core/src/components/entity-list/filters/FilterMixin.vue';

@Component
export default class TextFilter extends mixins(FilterMixin) {

    public skipChangeDetection = false

    public setFilterValue(value: any) {
        if (!value || value === '') {
            this.$emit('change', null)
        } else {
            this.$emit('change', value)
        }
    }

    mounted() {
        const textInput: HTMLInputElement = this.$refs.textInput as HTMLInputElement

        if (textInput) {
            textInput.focus()
        }
    }
}

</script>
