<template>
    <div class='flex space-x-4 text-xs'>
        <div>{{ datatableState.selectAll ? datatableState.total : ids.length }} geselecteerd</div>

        <div v-if='datatableState.total > 0'>
            <a href='javascript:void(0)' class='text-primary' @click='selectAll(!datatableState.selectAll)'>
                <span v-if='!datatableState.selectAll'>Selecteer alles ({{ datatableState.total }})</span>
                <span v-else>Deselecteer alles</span>
            </a>
        </div>

        <div v-for='(action, index) in actions' :key='index' class='group'>
            <fa v-if='action.icon' :icon='action.icon' class='mr-1 group-hover:text-gray-700 text-gray-500'></fa>
            <a href='javascript:void(0)' class='text-primary' @click='executeAction(action)'>{{ action.name }}</a>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop } from 'vue-property-decorator'
import DatatableQueryMixin from '@provide-smart/core/src/components/datatable/DatatableQueryMixin'
import Resource from '@provide-smart/core/src/models/Resource'
import ActionInterface from '@provide-smart/core/src/components/actions/ActionInterface'

@Component
export default class DatatableActions extends DatatableQueryMixin {
    @Prop({ type: [Array], default: () => [] })
    ids!: number[]

    @Prop({ type: [Array], default: () => [] })
    actions!: ActionInterface[]

    @Prop({ type: String })
    resource!: string

    public selectAll(selectAll = true) {
        const newSelection = this.datatableState?.resultingIds.map(() => true)

        this.updateDatatableState({
            selectAll,
            selection: selectAll ? newSelection : {},
        })
    }

    public executeAction(action: ActionInterface) {

        const models: any = this.datatableState?.selectAll
            ? 'all'
            : this.ids.map(id => {
                return {
                    id,
                }
            })

        const resource: any = Resource.find(this.datatableState?.model || '')

        // console.log('Execute action', models, this.datatableState?.model, action)

        this.$actionService.run(resource, models, action, {}, this.queryState)

        // if (action.callback) {
        //     action.callback(this.ids)
        //
        //     return true
        // }
        //
        // if (!action.withoutConfirmation) {
        //     this.$modalService.open({
        //         title: action.name,
        //         message: action.confirmText,
        //         variant: action.destructive ? 'danger' : 'success',
        //         type: ActionModal,
        //         onAccept: async () => {
        //             const response = await this.$axios.post(
        //                 process.env.NUXT_ENV_API_BASE_URL + this.resource + '/actions?action=' + action.uriKey,
        //                 {
        //                     resources: this.ids.join(','),
        //                 },
        //             )
        //
        //             console.log('RESPONSE', response)
        //
        //             this.datatableState?.$reload()
        //         },
        //         actions: [
        //             { type: ModalActionType.DISMISS, name: action.cancelButtonText, variant: 'default' },
        //             { type: ModalActionType.ACCEPT, name: action.confirmButtonText, variant: action.destructive ? 'danger' : 'success' },
        //         ],
        //     })
        // }
    }

    protected executeActionCall() {
    }
}
</script>

<style scoped lang='scss'></style>
