<template>
    <fa :icon="icons.faSpinnerThird" spin size="2x"></fa>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { faSpinnerThird } from '@fortawesome/pro-duotone-svg-icons'

@Component
export default class Spinner extends Vue {
    @Prop({ type: Boolean, default: false })
    active!: boolean

    public icons = {
        faSpinnerThird,
    }
}
</script>
