<template>
    <div>
        <template v-if="!loading">
            <slot></slot>
        </template>

        <template v-else>
            <slot name="loading"></slot>
        </template>
    </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class SkeletonWrapper extends Vue {
    @Prop({ type: Boolean, default: false })
    loading!: boolean
}
</script>

<style scoped lang="scss"></style>
