<template>
    <div class="animate-pulse rounded" :class="[variantSkeletonClasses]"></div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import Vue from 'vue'

@Component
export default class SkeletonWrapper extends Vue {
    @Prop({ type: String })
    variantClasses!: string

    get variantSkeletonClasses() {
        return this.variantClasses || 'bg-gray-300'
    }
}
</script>

<style scoped lang="scss"></style>
