<template>
    <t-card-nopadding>
        <div v-if='heading || $slots.heading' class='py-4 px-8 border-b rounded-t' :class="[headingBgVariant || 'bg-gray-50']">
            <span v-if='!$slots.heading'>{{ heading }}</span>
            <slot v-else name='heading'></slot>
        </div>

        <template v-if='$slots.default'>
            <slot v-if='noBody'></slot>

            <ps-card-body v-else>
                <slot></slot>
            </ps-card-body>
        </template>

        <div v-if='footer || $slots.footer' class='py-4 px-8 border-t rounded-b' :class="[footerBgVariant || 'bg-gray-50']">
            <span v-if='!$slots.footer'>{{ footer }}</span>
            <slot v-else name='footer'></slot>
        </div>
    </t-card-nopadding>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class Card extends Vue {

    @Prop()
    heading!: string

    @Prop()
    headingBgVariant!: string

    @Prop()
    footer!: string

    @Prop()
    footerBgVariant!: string

    @Prop([Boolean])
    noBody!: boolean

}
</script>

<style scoped lang='scss'>

</style>
