<template>
    <div class="py-4 px-8">
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class CardBody extends Vue {

}
</script>

<style scoped lang="scss">

</style>
