<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div
        class='fixed inset-0 overflow-y-auto transform'
        :class='`translate-x-${translate} translate-y-${translate}`'
        aria-labelledby='modal-title'
        role='dialog'
        aria-modal='true'
        :style="{ 'z-index': zIndex }"
    >
        <div class='flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0'>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class='hidden sm:inline-block sm:align-middle sm:h-screen' aria-hidden='true'>&#8203;</span>

            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <transition
                appear
                appear-class='opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95'
                appear-active-class='transition transform ease-out duration-300'
                appear-to-class='opacity-100 translate-y-0 sm:scale-100'
                enter-class='opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95'
                enter-active-class='transition transform ease-out duration-300'
                enter-to-class='opacity-100 translate-y-0 sm:scale-100'
                leave-class='opacity-100 translate-y-0 sm:scale-100'
                leave-active-class='transition transform ease-in duration-300'
                leave-to-class='opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95'
            >
                <div
                    v-if='visible'
                    class='
                        inline-block
                        align-bottom
                        bg-white
                        rounded-lg
                        text-left
                        shadow-xl
                        transform
                        transition-all
                        sm:my-8 sm:align-middle
                        sm:w-2/3
                        md:w-1/2
                        lg:w-1/2
                    '
                >
                    <div class='bg-white rounded-t-lg px-4 pt-5 pb-4 sm:p-6 sm:pb-4'>
                        <div class='sm:flex sm:items-start'>
                            <div
                                v-show='!modal.hideIcon'
                                class='mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-primary-100 sm:mx-0 sm:h-10 sm:w-10'
                                :class="{
                                'bg-primary-50': modal.variant === 'primary',
                                'text-primary-700': modal.variant === 'primary',
                                'bg-secondary-50': modal.variant === 'secondary',
                                'text-secondary-700': modal.variant === 'secondary',
                                'bg-success-50': modal.variant === 'success',
                                'text-success-600': modal.variant === 'success',
                                'bg-danger-50': modal.variant === 'danger',
                                'text-danger-700': modal.variant === 'danger',
                            }"
                            >
                                <div v-if='modal.icon'>
                                    <fa :icon='modal.icon' size='lg'></fa>
                                </div>
                                <div v-else>
                                    <fa v-if='modal.variant === null' size='lg' :icon='icons.faQuestion'></fa>
                                    <fa v-if="modal.variant === 'secondary'" size='lg' :icon='icons.faExclamation'></fa>
                                    <fa v-if="modal.variant === 'success'" size='lg' :icon='icons.faCheck'></fa>
                                    <fa v-if="modal.variant === 'danger'" size='lg' :icon='icons.faExclamationTriangle'></fa>
                                </div>
                            </div>
                            <div class='mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left'>
                                <h3 id='modal-title' class='text-lg leading-6 font-medium text-gray-900'>
                                    {{ modal.title }}
                                </h3>
                                <div class='mt-2'>
                                    <p class='text-sm text-gray-500'>
                                        {{ modal.message }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div v-if='modal.component' class='mt-5'>
                            <component :is='modal.component' ref='modalComponent' v-bind='modal.props'></component>
                        </div>
                    </div>
                    <div
                        v-if='modal.actions != null'
                        class='bg-gray-50 rounded-b-lg px-4 py-3 sm:px-6 flex space-x-4 justify-end'
                    >
                        <ps-button
                            v-for='(action, index) in modal.actions'
                            :key='index'
                            :variant='action.variant'
                            class='inline-flex justify-center'
                            :loading='loading && action.type === actionTypeAccept.type'
                            @click.native='clickHandler(action)'
                        >
                            {{ action.name }}
                        </ps-button>
                    </div>
                    <!-- Default buttons -->
                    <div v-if='modal.actions == null' class='bg-gray-50 rounded-b-lg px-4 py-3 flex space-x-4 justify-end'>
                        <ps-button variant='link-gray' @click.native='clickHandler(actionTypeDismiss)'
                        >{{ $t('GENERAL_CANCEL') }}
                        </ps-button>
                        <ps-button :variant='modal.variant' :loading='loading' @click.native='clickHandler(actionTypeAccept)'>
                            {{ $t('GENERAL_SUBMIT') }}
                        </ps-button>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component } from 'nuxt-property-decorator'
import { faCheck, faExclamation, faExclamationTriangle, faQuestion, faSpinnerThird, faTimes } from '@fortawesome/pro-regular-svg-icons'
import BaseModalComponent from './BaseModalComponent'

@Component
export default class FloatingModal extends BaseModalComponent {
    public icons = {
        faSpinnerThird,
        faQuestion,
        faTimes,
        faCheck,
        faExclamation,
        faExclamationTriangle,
    }
}
</script>
