<template>
    <div :style="{ 'z-index': baseZIndex }">
        <transition
            enter-class="opacity-0"
            enter-active-class="ease-out duration-300"
            enter-to-class="opacity-100"
            leave-class="opacity-100"
            leave-active-class="ease-in duration-300"
            leave-to-class="opacity-0"
        >
            <div v-if="modals.length > 0">
                <div
                    class="fixed inset-0 bg-gray-600 bg-opacity-30 transition-opacity transform backdrop-blur"
                    :style="{ 'z-index': backgroundZindex }"
                    aria-hidden="true"
                ></div>
            </div>
        </transition>

        <component
            :is="modal.type"
            v-for="(modal, index) in modals"
            :key="index"
            :modal="modal"
            :z-index="modalZIndex(index)"
            :translate="0"
        ></component>
        <!--        <slide-in-modal v-for="(modal, index) in modals" :z-index="modalZIndex(index)"></slide-in-modal>-->
    </div>
</template>

<script lang="ts">
import { Component } from 'nuxt-property-decorator'
import Vue from 'vue'
import { ModalProps } from './Modal'
import FloatingModal from './FloatingModal.vue'
import SlideInModal from './SlideInModal.vue'

@Component({
    components: { SlideInModal, FloatingModal },
})
export default class ModalContainer extends Vue {
    baseZIndex = 50

    get modals(): ModalProps[] {
        return this.$modalService.modals
    }

    get backgroundZindex() {
        return this.modalZIndex(this.modals.length - 1) - 1
    }

    modalZIndex(index: number) {
        return this.baseZIndex + 10 * index
    }
}
</script>
