<template>
    <div class="flex flex-col mx-6 mt-8">
        <template v-if="quickCreateModel && quickCreateFields">
            <InlineInputWrapper
                v-for="field in quickCreateFields"
                :key="field.id"
                :field="fieldFromObject(field)"
                :model="quickCreateModel"
            >
            </InlineInputWrapper>
        </template>
    </div>
</template>

<script lang="ts">
// @ts-nocheck
import { Component, mixins, Prop } from 'nuxt-property-decorator'
import Model from '@provide-smart/core/src/models/Model'
import ModalableComponent from './ModalableComponent'
import InlineInputWrapper from '~/components/inputs/InlineInputWrapper.vue'
import TransformsFields from '~/components/inputs/TransformsFields'
import Field from '~/components/inputs/fields/Field'
import HasResource from '~/components/mixins/HasResource.vue'

@Component({
    components: { InlineInputWrapper },
})
export default class QuickCreateModal extends mixins(TransformsFields, HasResource) implements ModalableComponent {
    private static QUICK_CREATE_TMP_ID: number = -1000

    @Prop() readonly entityType!: string

    // ID from the API of the saved model
    private savedModelId?: number = null

    get quickCreateModel(): Model {
        return this.Model.find(QuickCreateModal.QUICK_CREATE_TMP_ID)
    }

    getData(): any {
        return null
    }

    async isValidForAccept(): Promise<boolean> | boolean {
        const modelData = this.quickCreateFields
            ?.map((field: Field) => {
                return field.attribute
            })
            .reduce((carry: any, fieldName: any) => {
                return Object.assign(carry, { [fieldName]: this.quickCreateModel[fieldName] })
            }, {})

        const isValid: boolean = await this.Model.api()
            .create(modelData)
            .then((result) => {
                if (result.response.data.success && result.entities[this.entityType][0].id) {
                    this.savedModelId = result.entities[this.entityType][0].id
                    return true
                }
            })
            .catch(() => {
                return false
            })

        return Promise.resolve(isValid)
    }

    async notifyAccepted(): void {
        await this.cleanupTempItem()
        if (this.savedModelId) {
            this.$router.push(`/${this.entityType}/${this.savedModelId}`)
        }
    }

    async notifyDismissed(): void {
        await this.cleanupTempItem()
    }

    get quickCreateFields(): Field[] | null {
        const fields = (this.resource.fields as Field[]) ?? null
        if (fields) {
            return fields.filter((value) => value.isQuickCreate)
        }

        return null
    }

    async created() {
        await this.prepareQuickCreate()
    }

    async prepareQuickCreate() {
        await this.fetchResource()
        await this.Model.insert({
            data: {
                id: QuickCreateModal.QUICK_CREATE_TMP_ID,
            },
        })
    }

    private cleanupTempItem(): Promise {
        return this.Model.delete(QuickCreateModal.QUICK_CREATE_TMP_ID)
    }
}
</script>
