<template>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <section class='fixed inset-0 overflow-hidden' role='dialog' aria-modal='true' :style="{ 'z-index': zIndex }">
        <div class='absolute inset-0 overflow-hidden'>
            <!-- Background overlay, show/hide based on slide-over state. -->
            <div class='absolute inset-0' aria-hidden='true'></div>

            <div class='absolute inset-y-0 right-0 pl-0 max-w-full flex md:pl-16'>
                <!--
                  Slide-over panel, show/hide based on slide-over state.

                  Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-full"
                    To: "translate-x-0"
                  Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-0"
                    To: "translate-x-full"
                -->
                <transition
                    appear
                    appear-class='opacity-0 translate-x-full'
                    appear-active-class='transition transform ease-in-out duration-300'
                    appear-to-class='opacity-100 translate-x-0'
                    enter-class='opacity-0 translate-x-full'
                    enter-active-class='transition transform ease-in-out duration-300'
                    enter-to-class='opacity-100 translate-x-0'
                    leave-class='opacity-100 translate-x-0'
                    leave-active-class='transition transform ease-in-out duration-300'
                    leave-to-class='opacity-0 translate-x-full'
                >
                    <div v-if='visible' class='w-screen md:max-w-xl' :style="{ 'z-index': zIndex }">
                        <div class='h-full flex bg-white shadow-xl'>
                            <!-- Main -->
                            <div class='flex flex-col h-full w-full'>

                                <div class='px-4 py-6 sm:px-6 bg-primary flex-shrink-0'>
                                    <div class='flex items-end justify-between'>
                                        <h2 id='slide-over-heading' class='text-lg font-medium text-white'>{{ modal.title }}</h2>
                                        <div class='ml-3 h-7 flex justify-end items-center'>
                                            <button
                                                class='
                                                bg-transparent
                                                rounded-md
                                                text-white
                                                hover:text-gray-500
                                                focus:ring-2 focus:ring-indigo-500
                                            '
                                                @click='clickHandler(actionTypeDismiss)'
                                            >
                                                <span class='sr-only'>Close panel</span>
                                                <!-- Heroicon name: outline/x -->
                                                <svg
                                                    class='h-6 w-6'
                                                    xmlns='http://www.w3.org/2000/svg'
                                                    fill='none'
                                                    viewBox='0 0 24 24'
                                                    stroke='currentColor'
                                                    aria-hidden='true'
                                                >
                                                    <path
                                                        stroke-linecap='round'
                                                        stroke-linejoin='round'
                                                        stroke-width='2'
                                                        d='M6 18L18 6M6 6l12 12'
                                                    />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div v-if='modal.message' class='mx-4 mt-5 sm:mx-0 sm:mt-0 px-4 sm:px-6'>
                                    <div class='mb-5'>
                                        <dt class='text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0'>Message</dt>
                                        <dd class='mt-1 text-sm text-gray-900 sm:col-span-2'>
                                            <p>
                                                {{ modal.message }}
                                            </p>
                                        </dd>
                                    </div>
                                </div>

                                <div class='m-0 flex-1 w-full overflow-y-scroll'>
                                    <component :is='modal.component' v-bind='modal.props' ref='modalComponent'></component>
                                </div>

                                <div
                                    v-if='modal.actions != null'
                                    class='bg-gray-50 rounded-b-lg px-4 py-3 sm:px-6 flex space-x-4 justify-end'
                                >
                                    <ps-button
                                        v-for='(action, index) in modal.actions'
                                        :key='index'
                                        :variant='action.variant'
                                        class='inline-flex justify-center items-center'
                                        :loading='loading && action.type === actionTypeAccept.type'
                                        @click.native='clickHandler(action)'
                                    >
                                        <fa v-if='action.icon' :icon='action.icon' class='mr-2'></fa>
                                        {{ action.name }}
                                    </ps-button>
                                </div>
                                <!-- Default buttons -->
                                <div v-if='modal.actions == null' class='bg-gray-50 rounded-b-lg px-4 py-3 flex space-x-4 justify-end'>
                                    <ps-button variant='link-gray' @click.native='clickHandler(actionTypeDismiss)'
                                    >{{ $t('GENERAL_CANCEL') }}
                                    </ps-button>
                                    <ps-button :variant='modal.variant' :loading='loading' @click.native='clickHandler(actionTypeAccept)'>
                                        {{ $t('GENERAL_SUBMIT') }}
                                    </ps-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </section>
</template>

<script lang='ts'>
import { Component } from 'nuxt-property-decorator'
import { faSpinnerThird } from '@fortawesome/pro-duotone-svg-icons'
import BaseModalComponent from './BaseModalComponent'

@Component
export default class SlideInModal extends BaseModalComponent {
    public icons = {
        faSpinnerThird,
    }
}
</script>
