<script lang="ts">
import { Component, Prop, VModel } from 'vue-property-decorator'
import Vue from 'vue'
import Field from '../../../../models/fields/Field'

@Component
export default class AbstractField extends Vue {
    @Prop({ type: Object })
    field!: Field

    @VModel({})
    form!: any

    @Prop({ type: String })
    viaResource!: string

    @Prop({ type: [Number, String] })
    viaResourceId!: number | string

    get formValue() {
        return this.form?.[this.field.attribute] || null
    }

    set formValue(value: any) {
        this.form = {
            ...this.form,
            [this.field.attribute]: value,
        }
    }
}
</script>

<style scoped lang="scss"></style>
