<template>
    <FormDefaultField :field='field' :value='formValue'>
        <t-rich-select
            ref='select'
            v-model='selectedValue'
            :fetch-options='onSearch'
            :minimum-input-length='1'
            value-attribute='id'
            text-attribute='_title'
            placeholder='--'
            :disabled="field.readonly"
            @input='onInputChange'
        >
            <template #option='{ option }'>
                <div class='py-2 px-2'>
                    <div>{{ option.raw._title }}</div>
                    <div v-if='option.raw._subtitle' class='block text-sm text-gray-400'>
                        {{ option.raw._subtitle }}
                    </div>
                </div>
            </template>
        </t-rich-select>
    </FormDefaultField>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import DetailBelongsToField from '~/modules/@provide-smart/core/src/components/form/fields/detail/BelongsToField.vue'

@Component
export default class BelongsToField extends DetailBelongsToField {

}
</script>

<style scoped lang="scss"></style>
