<template>
    <FormDefaultField :field="field" :value="formValue">
        <t-toggle v-model="formValue" variant="success"></t-toggle>
    </FormDefaultField>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from './AbstractField.vue'

@Component
export default class BooleanField extends AbstractField {}
</script>

<style scoped lang="scss"></style>
