<template>
    <FormDefaultField :field='field' :value='formValue'>
        <CurrencyInput v-model='formValue' :name='field.name' :placeholder="!field.stacked ? field.name : '--'"></CurrencyInput>
    </FormDefaultField>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import AbstractField from './AbstractField.vue'

@Component
export default class CurrencyField extends AbstractField {
}
</script>

<style scoped lang='scss'></style>
