<template>
    <FormDefaultField :field="field" :value="formValue">
        <DateInput v-model="formValue" :name="field.name" :placeholder="!field.stacked ? field.name : ''" show-time></DateInput>
    </FormDefaultField>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from './AbstractField.vue'

@Component
export default class DateTimeField extends AbstractField {
}
</script>

<style scoped lang="scss"></style>
