<template>
    <div :class="field.stacked ? '' : 'flex items-center'" class="group">
        <label
            :for="field.attribute"
            :class="[
                !field.stacked ? labelWidthClass : '',
                value || focussed ? '' : 'translate-y-0 group-focus:translate-y-0 group-hover:translate-y-0',
            ]"
            class="block text-xs uppercase font-light mb-1 text-gray-500 transform transition-all duration-200"
        >
            {{ field.name }} <span v-if="field.required" class="text-danger">*</span>
        </label>
        <div class="flex-grow" :class="field.stacked ? 'mt-0' : ''">
            <div ref="inputSlot" class="relative">
                <slot></slot>
            </div>
            <p v-if="field.helpText" class="mt-2 text-sm text-gray-400 italic">{{ field.helpText }}</p>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import Vue from 'vue'
import { faEdit } from '@fortawesome/pro-light-svg-icons'
import Field from '~/modules/@provide-smart/core/src/models/fields/Field'

@Component
export default class DefaultField extends Vue {
    @Prop({ type: Object })
    field!: Field

    @Prop({})
    value!: any

    @Prop({ type: String, default: 'w-1/3' })
    labelWidthClass!: string

    public focussed = false

    protected slotRef!: HTMLElement

    public icons = {
        faEdit,
    }

    mounted() {
        this.slotRef = this.$refs.inputSlot as HTMLElement

        this.slotRef.addEventListener('focusin', this.focusChanged)
        this.slotRef.addEventListener('focusout', this.focusChanged)
    }

    beforeDestroy() {
        this.slotRef.removeEventListener('focusin', this.focusChanged)
        this.slotRef.removeEventListener('focusout', this.focusChanged)
    }

    public focusChanged(event: any) {
        this.focussed = event.type === 'focusin'
    }
}
</script>

<style scoped lang="scss"></style>
