<template>
    <FormDefaultField :field="field" :value="formValue">
        <div class="mt-1 flex rounded">
            <div class="relative flex items-stretch flex-grow focus-within:z-10 border rounded-tl rounded-bl">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none text-gray-300">
                    <fa :icon="icons.faQrcode"></fa>
                </div>
                <input
                    id="email"
                    v-model="formValue"
                    type="text"
                    :name="field.name"
                    class="
                        focus:ring-success-200
                        focus:border-success-200
                        block
                        w-full
                        rounded-none rounded-l-md
                        pl-10
                        sm:text-sm
                        border-gray-300
                    "
                    :disabled="!editMode"
                    :placeholder="!field.stacked ? field.name : ''"
                />
            </div>
            <button
                class="
                    -ml-px
                    relative
                    inline-flex
                    items-center
                    space-x-2
                    px-4
                    py-2
                    border
                    text-sm
                    font-medium
                    rounded-r-md
                    text-gray-700
                    bg-gray-50
                    hover:bg-gray-100
                    focus:outline-none
                    focus:ring-1 focus:ring-success-100
                    focus:border-success-500
                "
                @click.prevent="editMode = !editMode"
            >
                <div v-if="!editMode">
                    <fa :icon="icons.faPencil" class="mr-2"></fa>
                    <span>Edit</span>
                </div>
                <div v-else>
                    <fa :icon="icons.faMagic" class="mr-2"></fa>
                    <span>Auto</span>
                </div>
            </button>
        </div>
    </FormDefaultField>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import { faMagic, faPencil, faQrcode } from '@fortawesome/pro-regular-svg-icons'
import GeneratedCodeFieldModel from '../../../../models/fields/GeneratedCodeField'
import AbstractField from './AbstractField.vue'

@Component
export default class GeneratedCodeField extends AbstractField {
    @Prop({ type: Object })
    field!: GeneratedCodeFieldModel

    public editMode = false

    public icons = {
        faPencil,
        faQrcode,
        faMagic,
    }

    public mounted() {
        this.formValue = this.field.generatedValue
    }
}
</script>

<style scoped lang="scss"></style>
