<template>
    <FormDefaultField :field='field' :value='formValue'>
        <!--        <PsSelectableDropdown-->
        <!--            v-model="formValue"-->
        <!--            full-width-->
        <!--            :disabled="isDisabled"-->
        <!--            :options="options"-->
        <!--            @search="onSearch"-->
        <!--            @select="onSelect"-->
        <!--        >-->
        <!--            <button type="button" class="w-full flex border rounded px-3 py-1.5 items-center" :class="{ 'bg-gray-50': isDisabled }">-->
        <!--                <div class="flex-grow">{{ getValue() || '&nbsp;' }}</div>-->
        <!--                <fa :icon="icons.faCaretDown" class="text-gray-400 ml-3"></fa>-->
        <!--            </button>-->

        <!--            <template #option="{ option }">-->
        <!--                <div class="text-xs">{{ option.label }}</div>-->
        <!--            </template>-->
        <!--        </PsSelectableDropdown>-->

        <t-rich-select v-model='formValue' :options='options' :hide-search-box='!field.searchable' value-attribute='value' text-attribute='label'></t-rich-select>
    </FormDefaultField>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import { faCaretDown } from '@fortawesome/pro-solid-svg-icons'
import AbstractField from './AbstractField.vue'

@Component
export default class TextField extends AbstractField {
    public icons = {
        faCaretDown,
    }

    public options: Record<string, any>[] = []
    public search: string                 = ''

    get isDisabled() {
        return this.field.readonly
    }

    mounted() {
        this.options = this.field.options
    }

    public onSearch(event: any) {
        this.search = event?.target?.value
    }

    public onSelect(event: any) {
        this.formValue = event.value
    }

    public getValue() {
        if (this.formValue) {
            return this.options?.find((option: Record<string, any>) => option.value === this.formValue)?.label
        }

        return null
    }
}
</script>

<style scoped lang='scss'></style>
