<template>
    <FormDefaultField :field="field" :value="formValue">
        <TextareaInput v-model="form[field.attribute]" :name="field.name" :placeholder="!field.stacked ? field.name : ''"></TextareaInput>
    </FormDefaultField>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import AbstractField from '@provide-smart/core/src/components/form/fields/detail/AbstractField.vue'

@Component
export default class TextField extends AbstractField {}
</script>

<style scoped lang="scss"></style>
