<template>
    <div class="relative p-4 rounded hover:bg-primary-100">
        <span v-show="!isLast" class="absolute top-9 left-9 -ml-px h-full w-0.5 bg-primary-100" aria-hidden="true"></span>
        <div class="relative flex items-start space-x-3">
            <div>
                <div class="relative px-1">
                    <div v-show="!isLast" class="h-8 w-8 bg-white rounded-full flex items-center justify-center">
                        <fa :icon="icons.faPencil"></fa>
                    </div>
                    <div v-show="isLast" class="h-8 w-8 bg-white rounded-full flex items-center justify-center">
                        <fa :icon="icons.faStar"></fa>
                    </div>
                </div>
            </div>
            <div class="min-w-0 flex-1 py-0">
                <div class="flex justify-between text-sm">
                    <div class="leading-6">
                        <span class="mr-0.5">
                            <span class="font-medium">{{ causerName }}</span>
                            <span class="mx-0.5 text-primary-300">{{ action }}</span>
                        </span>
                        <span class="mr-0.5">
                            <span class="font-medium">{{ subjectType }}</span>
                            <!--                        (<span class="font-medium">{{ subjectName }}</span>)-->
                        </span>
                        <span class="mx-1">
                            <i class="fa fa-clock text-primary-300"></i>
                        </span>
                    </div>
                    <div class="whitespace-nowrap text-gray-400">{{ timestamp }}</div>
                </div>
                <div class="text-sm text-gray-400">
                    <div v-if="props">
                        <div v-for="(prop, key) in props" :key="key" class="px-0 py-2">
                            <div class="grid">
                                <div class="text-gray-400 font-bold">{{ key }}</div>
                                <div class="text-gray-400">
                                    <span class="text-gray-300"
                                        ><del>{{ prop.old }}</del></span
                                    >
                                    <span>{{ prop.new }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { DateTime } from 'luxon'
import Activity from '@provide-smart/core/src/models/Activity'
import { faPencil, faStar } from '@fortawesome/pro-regular-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import User from '@provide-smart/core/src/models/User'

@Component({
    components: { fa: FontAwesomeIcon },
})
export default class ActivityFeedItem extends Vue {
    @Prop() readonly activity!: Activity
    @Prop() readonly isLast!: boolean

    public icons = {
        faStar,
        faPencil,
    }

    get causerName(): string {
        const causerType = this.activity.causer_type

        switch (causerType) {
            case 'users':
                return (this.activity.causer as User)?.name
        }
        return 'Systeem'
    }

    get action(): string {
        const desc: string | null = this.activity.description
        if (!desc) {
            return 'changed'
        }

        return desc.split(' ')[0].toLowerCase() ?? 'changed'
    }

    get subjectType(): string {
        const subjectType = this.activity.subject_type

        switch (subjectType) {
            case 'products':
                return 'Product'
            case 'product-groups':
                return 'Product Groep'
            case 'product-collections':
                return 'Product Collectie'
            case 'designers':
                return 'Designer'
        }

        return subjectType
    }

    get subjectName(): string {
        return ''
    }

    get timestamp() {
        if (!this.activity.created_at) {
            return 'unknown'
        }

        const dateTime = DateTime.fromISO(this.activity.created_at, { zone: 'utc' })

        if (dateTime.diffNow('years').years <= -1) {
            // More then a year ago
            return dateTime.toLocaleString({ day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric' })
        }

        const hourDiff = dateTime.diffNow('hours').hours
        const minsDiff = dateTime.diffNow('minutes').minutes
        if (minsDiff > -60) {
            // Within the last hour
            return Math.abs(Math.round(minsDiff)) + 'min ago'
        }

        if (hourDiff >= -24) {
            // within the last 24 hours (but not within 1 hour)
            return Math.abs(Math.round(hourDiff)) + 'h ago'
        }

        // Default format (all between -1 year and yesterday)
        return dateTime.toLocaleString({ day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric' })
    }

    get props(): object | null {
        const props = this.activity.properties
        if (!props || !props.attributes) {
            return null
        }

        return Object.keys(props.attributes).reduce((carry: Record<string, any>, field: string) => {
            carry[field] = {
                new: props?.attributes[field] ?? null,
                old: props.old ? props.old[field] : null,
            }

            return carry
        }, {})
    }
}
</script>
