<template>
    <div class='flow-root'>
        <ul>
            <li v-for='(activity, index) in activities' :key='index'>
                <activity-feed-item :activity='activity' :is-last='isLast(index)'></activity-feed-item>
            </li>
        </ul>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import Activity from '@provide-smart/core/src/models/Activity'
import ActivityFeedItem from './ActivityFeedItem.vue'

@Component({
    components: { ActivityFeedItem },
})
export default class ActivityFeed extends Vue {
    @Prop() readonly activities!: Activity[]

    private isLast(index: number): boolean {
        return index === this.activities.length - 1
    }
}
</script>
