<template>
    <div>
        <!--        <div v-if="isLoadingState">-->
        <!--            <PsSpinner></PsSpinner>-->
        <!--        </div>-->
        <div v-if='isErrorState'>{{ error }}</div>
        <div v-if='isEmptyState' class='text-gray-400 py-12 text-center'>
            <fa-layers class='fa-3x text-center w-full'>
                <fa :icon='icons.faLineColumns' class='text-gray-200'></fa>
                <fa :icon='icons.faSlash'></fa>
            </fa-layers>
            <div class='font-bold text-sm mt-3'>No activities yet</div>
        </div>
        <div v-if='isContentState'>
            <activity-feed :activities='activities'></activity-feed>
            <infinite-loading spinner='spiral' :identifier='infiniteId' @infinite='infiniteHandler'>
                <div slot='no-results' class='p-3 text-gray-400'>No results</div>
                <div slot='no-more' class='p-3 text-gray-400'>That's all</div>
            </infinite-loading>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, mixins } from 'nuxt-property-decorator'
import { StateChanger } from 'vue-infinite-loading'
import { faLineColumns, faSlash } from '@fortawesome/pro-regular-svg-icons'
import Activity from '../../models/Activity'
import LCEMixin from '../../mixins/LCEMixin.vue'
import AcceptsEntity from '../../mixins/AcceptsEntity'
import { QueryOrderByEnum } from '../../utils/Query'
import ActivityFeed from './ActivityFeed.vue'

@Component({
    components: {
        ActivityFeed,
        InfiniteLoading: () => import('vue-infinite-loading'),
    },
})
export default class ResourceActivityCard extends mixins(LCEMixin, AcceptsEntity) {
    private nextPage: number      = 0
    private activityIds: number[] = []

    public icons = {
        faLineColumns,
        faSlash,
    }

    get infiniteId() {
        return `activityFeed-${this.entity}-${this.entityId}`
    }

    get activities(): Activity[] {
        const query = Activity.query().withAll().whereIdIn(this.activityIds)
        if (query.count() === 0) {
            this.setEmpty()
        } else {
            this.setContent()
        }
        return query.all()
    }

    mounted() {
        this.loadNextActivitiesPage() // initial page

        this.$eventBus.$on('model.create.' + this.entity, async (payload: Record<string, any>) => {
            await this.handleModelEvents(payload)
        })

        this.$eventBus.$on('model.update.' + this.entity, async (payload: Record<string, any>) => {
            await this.handleModelEvents(payload)
        })
    }

    protected async handleModelEvents(payload: Record<string, any>) {
        try {
            const response = await payload.request

            const oldPage = this.nextPage

            this.nextPage = 0
            await this.loadNextActivitiesPage()

            this.nextPage = oldPage
        } catch (e) {
            console.error('An error occurred while handling model events', e)
        }
    }

    async infiniteHandler($state: StateChanger) {
        await this.loadNextActivitiesPage()
            .then((result) => {
                if (result.length > 0) {
                    this.activityIds.push(...result)
                    $state.loaded()
                } else {
                    $state.loaded()
                    $state.complete()
                }
            })
            .catch(() => $state.error())
    }

    private loadNextActivitiesPage(): Promise<number[]> {
        this.nextPage = ++this.nextPage

        return Activity.api()
            .index({
                page: this.nextPage,
                orderBy: {
                    id: QueryOrderByEnum.DESC,
                },
                filters: {
                    subject_type: this.entity,
                    subject_id: this.entityId,
                },
                with: ['causer']
            })
            .then((result: Record<string, any>) => {
                if (result.response.status === 200) {
                    if (result.response.data) {
                        this.setContent()
                        const ids = result.response.data.data.map((a: Record<string, any>) => a.id)
                        this.activityIds.push(...ids)
                        return ids
                    }
                }
                throw new Error(result.response)
            })
            .catch((error: any) => {
                this.setError(error)
            })
    }
}
</script>

<style scoped></style>
