<template>
    <div class="flex flex-col w-full">
        <div class="flex w-full items-center justify-between">
            <h1 class="my-auto pr-8">
                <slot name="title">{{ title }}</slot>
            </h1>

            <slot name="badges"></slot>

            <div class="flex-grow">
                <!-- Just a container to push the remains to the right -->
            </div>

            <slot name="actions"></slot>
        </div>
        <div class="text-gray-500">
            <slot name="subtitle"></slot>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component
export default class PageHeader extends Vue {
    @Prop({ type: String, default: '' })
    title!: string
}
</script>
