<template>
    <!--    <ps-dropdown position='center' arrow button-size='xs' :button-variant="filterValue ? 'success' : 'link'">-->
    <!--        <template slot='button-content'>-->
    <!--            {{ filter.name }}-->
    <!--            <span v-if='filterValue'>: {{ getQueryFilterValue() }}</span>-->
    <!--            <button-->
    <!--                v-if="filterValue && filterValue !== ''"-->
    <!--                class='ml-2 hover:bg-success-400 h-4 w-4 relative top-0.5 rounded inline-flex items-center justify-center'-->
    <!--                @click.prevent.stop='onClearFilter'-->
    <!--            >-->
    <!--                <fa :icon='icons.faTimes'></fa>-->
    <!--            </button>-->
    <!--            <fa :icon='icons.faCaretDown' class='ml-2'></fa>-->
    <!--        </template>-->

    <!--        <div class='p-2'>-->
    <!--            <div class='rounded border flex items-center focus-within:ring-2'>-->
    <!--                <div class='rounded bg-gray-50 py-1 px-2 border-r'>-->
    <!--                    <label for='operator' class='sr-only'>Operator</label>-->
    <!--                    <select-->
    <!--                        id='operator'-->
    <!--                        v-model='filterOperator'-->
    <!--                        name='operator'-->
    <!--                        class='border-transparent bg-transparent focus:outline-none text-base'-->
    <!--                    >-->
    <!--                        <option :value='availableOperators.EQUALS'>Equals</option>-->
    <!--                        <option :value='availableOperators.LIKE'>Contains</option>-->
    <!--                    </select>-->
    <!--                </div>-->
    <!--                <input-->
    <!--                    v-model='filterValue'-->
    <!--                    type='text'-->
    <!--                    class='rounded block flex-grow w-full px-3 py-1 text-base focus:outline-none'-->
    <!--                    @input='onFilterInput'-->
    <!--                />-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </ps-dropdown>-->
    <t-dropdown :variants='variants' variant='inline' :text='filter.name'>
        <template #trigger='{mousedownHandler,focusHandler,blurHandler,keydownHandler, isShown}'>
            <t-button
                :variants='buttonVariants'
                variant='inline'
                :class="{'bg-gray-100 hover:bg-gray-100': isShown && !filterValue, 'bg-success-50 hover:bg-success-50 pr-10': filterValue}"
                class='relative'
                @blur='blurHandler'
                @focus='focusHandler'
                @keydown='keydownHandler'
                @mousedown='mousedownHandler'
            >
                <div>
                    {{ filter.name }} <span v-if='filterValue'>({{ filterValue }})</span>
                </div>

                <button v-if='filterValue' type='button' tabindex='-1' class='rounded flex flex-shrink-0 items-center justify-center absolute right-0 top-0 m-2 h-5 w-5 transition duration-100 ease-in-out hover:bg-success-200 text-success-800' @click.prevent.stop='onClearFilter'>
                    <svg fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='fill-current h-3 w-3 '>
                        <polygon points='10 8.58578644 2.92893219 1.51471863 1.51471863 2.92893219 8.58578644 10 1.51471863 17.0710678 2.92893219 18.4852814 10 11.4142136 17.0710678 18.4852814 18.4852814 17.0710678 11.4142136 10 18.4852814 2.92893219 17.0710678 1.51471863 10 8.58578644'></polygon>
                    </svg>
                </button>

                <svg v-else fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='fill-current flex-shrink-0 ml-1 h-4 w-4 text-gray-600'>
                    <path clip-rule='evenodd' fill-rule='evenodd' d='M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z'></path>
                </svg>
            </t-button>
        </template>

        <div class='p-2'>
            <div class='rounded border flex items-center focus-within:ring-2'>
                <div class='rounded bg-gray-50 py-1 px-2 border-r'>
                    <label for='operator' class='sr-only'>Operator</label>
                    <select
                        id='operator'
                        v-model='filterOperator'
                        name='operator'
                        class='border-transparent bg-transparent focus:ring-0 focus:outline-none text-base'
                    >
                        <option :value='availableOperators.EQUALS'>Equals</option>
                        <option :value='availableOperators.LIKE'>Contains</option>
                    </select>
                </div>
                <input
                    v-model='filterValue'
                    type='text'
                    class='rounded block flex-grow w-52 px-3 py-1 text-base focus:outline-none'
                    @input='onFilterInput'
                />
            </div>
        </div>
    </t-dropdown>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import { faCaretDown, faTimes } from '@fortawesome/pro-solid-svg-icons'
import { Debounce } from 'vue-debounce-decorator'
import { QueryFilterEnum, QueryFilters } from '../../../utils/Query'
import PsResourceFilterMixin from './ResourceFilterMixin'

@Component
export default class ResourceTextFilter extends PsResourceFilterMixin {
    public availableOperators = QueryFilterEnum

    public filterOperator: QueryFilterEnum = QueryFilterEnum.LIKE

    public variants = {
        inline: {
            dropdown: 'shadow-md border bg-white border-gray-100',
        },
    }

    public buttonVariants = {
        inline: 'text-success-800 font-semibold hover:bg-gray-50 px-3 py-2 rounded focus:ring-0 flex items-center',
    }

    public icons = {
        faCaretDown,
        faTimes,
    }

    mounted() {
        this.setInitialFilter()
    }

    public setInitialFilter() {
        const filter = this.datatableState?.query?.filters?.[this.filter.attribute]

        this.setFilter(filter)
    }

    public onClearFilter() {
        this.filterValue = ''

        this.onFilterInput()
    }

    @Debounce(400)
    public onFilterInput() {
        const filters: QueryFilters = ({ ...this.datatableState?.query?.filters } as QueryFilters) ?? {}

        if (this.filterValue) {
            filters[this.filter.attribute] = {
                [this.filterOperator]: this.getQueryFilterValue(),
            }
        } else {
            delete filters[this.filter.attribute]
            this.filterValue = ''
        }

        this.updateQuery({
            ...this.datatableState?.query,
            filters,
        })
    }

    public getQueryFilterValue() {
        return this.filterOperator === QueryFilterEnum.EQUAL ? this.filterValue : '%' + this.filterValue + '%'
    }

    public onCurrentFilterValueChange(value: any) {
        this.setFilter(value)
    }

    protected setFilter(filter: any) {
        if (filter) {
            if (typeof filter === 'object') {
                this.filterOperator = Object.keys(filter)[0] as QueryFilterEnum
                this.filterValue    = filter[this.filterOperator]?.replace(/%/g, '')
            } else {
                this.filterOperator = QueryFilterEnum.EQUAL
                this.filterValue    = filter
            }
        } else {
            this.filterValue = ''
        }
    }
}
</script>

<style scoped></style>
