<template>
    <ps-selectable-dropdown
        v-model='selection'
        multi-select
        arrow
        position='center'
        :button-variant="selection.length ? 'success' : 'link'"
        button-size='sm'
        :options='options'
    >
        <ps-button :variant="selection.length ? 'success' : 'link'" size='sm'>
            {{ filter.name }} <span v-if='selection.length'>({{ selection.length }})</span>
            <fa :icon='icons.faCaretDown' class='ml-3'></fa>
        </ps-button>

        <template #option='slotProps'>
            <div class='text-base'>{{ slotProps.option.value }}</div>
        </template>
    </ps-selectable-dropdown>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import { faCaretDown } from '@fortawesome/pro-solid-svg-icons'
import ResourceFilterMixin from './ResourceFilterMixin'

@Component
export default class ResourceSelectFilter extends ResourceFilterMixin {
    public options: any[] = []
    public selection      = []

    public icons = {
        faCaretDown,
    }

    mounted() {
        this.options = this.filter.options ?? []
    }
}
</script>

<style scoped lang='scss'></style>
