<template>
    <t-rich-select ref='filter' v-model='selection' class='resource-filter' variant='dropdown' :options='options || false' :fetch-options='searchable ? fetchOptions : null' :value-attribute='valueAttribute' :placeholder='filter.name' clearable multiple @focus='onFocus' @change='onSelectChange'>
        <template #label='{ options }'>
            <div>{{ filter.name }} ({{ options.length }})</div>
        </template>

        <template #option='{ option }'>
            <div class='py-2 px-2'>
                <template v-if='searchable'>
                    <div class='font-medium'>{{ option.raw._title }}</div>
                    <div v-if='option.raw._subtitle' class='text-sm text-gray-400'>{{ option.raw._subtitle }}</div>
                </template>
                <template v-else>
                    <div class='font-medium'>{{ option.raw.name }}</div>
                </template>
            </div>
        </template>
    </t-rich-select>
</template>

<script lang='ts'>
import { Component, Watch } from 'vue-property-decorator'
import { faCaretDown, faTimes } from '@fortawesome/pro-solid-svg-icons'
import { Debounce } from 'vue-debounce-decorator'
import { QueryFilters } from '../../../utils/Query'
import ResourceFilterMixin from './ResourceFilterMixin'

@Component
export default class ResourceBooleanFilter extends ResourceFilterMixin {
    public searchValue                = ''
    public searchable                 = false
    public options: any[] | undefined = []
    public selection                  = []
    public initialized                = false

    public icons = {
        faCaretDown,
        faTimes,
    }

    @Watch('selection')
    onSelectionChanged() {
        if (!this.skipChangeDetection) {
            this.setFilter()
        } else {
            this.skipChangeDetection = false
        }
    }

    public get valueAttribute() {
        return this.searchable
            ? 'id'
            : 'value'
    }

    public get filterRef(): any {
        return this.$refs.filter
    }

    mounted() {
        this.searchable = this.filter.searchable

        const currentFilterValue = this.getFilterValue(this.filterName()) as any

        if (currentFilterValue) {
            this.selection = currentFilterValue?.in?.map((id: number | string) => {
                return parseInt(id + '')
            })
        }

        if (!this.searchable) {
            this.options = this.filter?.options
        } else {
            const selectedOptions = this.selection.map((id: number | string) => {
                return {
                    id: parseInt(id + ''),
                    value: parseInt(id + ''),
                }
            })

            this.filterRef.selectedOptions = this.filterRef.normalizeOptions(selectedOptions)
        }
    }

    public async onFocus() {
        if (!this.initialized) {
            this.initialized = true

            const filter: any = this.$refs.filter
            await filter.filterOptions('')
        }
    }

    @Debounce(100)
    public setFilter() {
        const filters: QueryFilters = ({ ...this.datatableState?.query?.filters } as QueryFilters) ?? {}

        if (this.selection.length) {
            filters[this.filterName()] = {
                in: this.selection,
            }
        } else {
            this.selection = []
            delete filters[this.filterName()]
        }

        this.updateQuery({
            ...this.datatableState?.query,
            filters,
        })
    }

    public filterName(): string {
        return this.searchable
            ? this.filter.attribute + '.id'
            : this.filter.attribute
    }

    public onCurrentFilterValueChange(value: any): void {
        this.skipChangeDetection = true

        this.selection = value
            ? this.selection.filter((item: any) => {
                // compare as string and number for proper comparison
                return value?.in?.indexOf(item + '') !== -1 || value?.in?.indexOf(item) !== -1
            })
            : []
    }

    public fetchOptions(search: string, nextPage: number | null) {
        if (!this.initialized) {
            return Promise.resolve({})
        }

        if (!this.filter?.relatedResourceName) {
            throw new Error('Cannot fetch related resource name')
        }

        return this.$store
            .$db()
            .model(this.filter.relatedResourceName)
            .api()
            .index({
                search,
                page: nextPage || 1,
            })
            .then((response: Record<string, any>) => {
                return {
                    results: response.response.data.data,
                    hasMorePages: response.response.data.meta.current_page < response.response.data.meta.last_page,
                }
            })
    }

    public onSelectChange(value: any) {
        const selectElement: any = this.$refs.filter

        if (value && value.length) {
            selectElement.$el.getElementsByClassName('select-button')[0].classList.add('active-select')
        } else {
            selectElement.$el.getElementsByClassName('select-button')[0].classList.remove('active-select')
        }
    }
}
</script>

<style scoped lang='scss'>

.resource-filter ::v-deep .select-button {
    &.active-select {
        @apply bg-success-50 font-medium pr-10
    }
}

</style>
