<template>
    <div class='space-x-2 flex text-sm'>
        <template v-for='(filter, index) in stickyFilters'>
            <component :is='filter.component' :key='index' :filter='filter' :datatable-uuid='datatableId'></component>
        </template>

        <!--        <div>-->
        <!--            <ps-button size='xs' variant='link-gray' :icon='icons.faSlidersH' @click='openFilters'>Meer filters</ps-button>-->
        <!--        </div>-->
        <div>
            <!--            <ps-button v-if='activeFilters' :icon='icons.faTimes' size='xs' variant='link' @click='resetFilters'>Reset filters</ps-button>-->
            <t-button v-if='activeFilters' variant='inline' @click='resetFilters'>
                <div class='text-danger'>
                    <fa :icon='icons.faTimes' class='mr-3'></fa>
                    Reset filters
                </div>
            </t-button>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop } from 'vue-property-decorator'
import { faSlidersH, faTimes } from '@fortawesome/pro-solid-svg-icons'
import { Item } from '@vuex-orm/core'
import Resource from '../../../models/Resource'
import QueryMixin from '../DatatableQueryMixin'
import FilterModel from './model'
import ResourceTextFilter from './ResourceTextFilter.vue'
import ResourceBooleanFilter from './ResourceBooleanFilter.vue'

@Component({
    components: {
        'text-filter': ResourceTextFilter,
        'select-filter': ResourceBooleanFilter,
        'boolean-filter': ResourceBooleanFilter,
    },
})
export default class ResourceFilters extends QueryMixin {
    @Prop({ type: [String], required: true })
    model!: string

    public icons = {
        faSlidersH,
        faTimes,
    }

    get resource(): Item<any> | null {
        return Resource.find(this.model) || null
    }

    get availableFilters() {
        return this.resource
            ? this.resource.filters.map((filter: Partial<FilterModel>) => {
                return new FilterModel(filter)
            })
            : []
    }

    get activeFilters() {
        return Object.keys(this.datatableState?.query?.filters || {}).length
    }

    get stickyFilters() {
        return this.availableFilters.filter((filter: FilterModel) => filter.sticky)
    }

    get nonStickyFilters() {
        return this.availableFilters.filter((filter: FilterModel) => filter.sticky)
    }

    public resetFilters() {
        this.updateQuery({
            filters: {},
        })
    }

    public openFilters() {
    }
}
</script>

<style scoped lang='scss'></style>
