<template>
    <div>
        <ps-skeleton-wrapper :loading='!entityInstance.$id'>
            <template #loading>
                <ps-page-header title='test'>
                    <template #title>
                        <ps-skeleton class='h-8 w-96'></ps-skeleton>
                    </template>
                    <template #subtitle>
                        <div class='space-x-4 flex mt-3'>
                            <ps-skeleton class='h-3 w-28'></ps-skeleton>
                            <ps-skeleton class='h-3 w-28'></ps-skeleton>
                            <ps-skeleton class='h-3 w-28'></ps-skeleton>
                        </div>
                    </template>
                </ps-page-header>

                <div class='mt-3 grid grid-cols-6 gap-4'>
                    <div class='col-span-3'>
                        <ps-card class='mt-5'>
                            <div v-for='i in 8' :key='i' class='mt-8 w-full'>
                                <ps-skeleton class='h-3 w-28'></ps-skeleton>
                                <ps-skeleton class='h-3 w-full mt-2'></ps-skeleton>
                            </div>
                        </ps-card>
                    </div>
                </div>
            </template>

            <slot name='before-header'></slot>

            <ps-page-header :title="isNew ? 'New ' + entity : resourceTitle">
                <template #badges>
                    <div class='space-x-4 flex'>
                        <template v-for='(badge, index) in resource.badges'>
                            <DropdownSelectInput :key='index' :value='entityInstance[badge.attribute]' :options='optionsForBadge(badge)' placeholder='Relation type' @input='changeBadgeValue($event, badge)'></DropdownSelectInput>

                            <!--                        <span-->
                            <!--                            -->
                            <!--                            :key='index'-->
                            <!--                            :class="[badge.options[entityInstance[badge.attribute]], 'inline-flex items-center px-3 py-0.5 rounded']"-->
                            <!--                        >{{ entityInstance[badge.attribute] }}</span>-->
                        </template>
                    </div>
                </template>
                <template #subtitle>
                    <slot name='header-subtitle'>
                        <div class='flex space-x-6'>
                            <div v-for='(spec, index) in entityInstance._specs' :key='index' :title='spec.label'>
                                <ps-tooltip :title='spec.label' position='top center'>
                                    <fa :icon='spec.icon' class='mr-1.5'></fa>
                                    <span>{{ spec.value }}</span>
                                </ps-tooltip>
                            </div>
                        </div>
                    </slot>
                </template>
                <template #actions>
                    <div class='flex space-x-2'>
                        <ps-button variant='default' @click='goBack'>{{ $t('GENERAL_BACK') }}</ps-button>
                        <!--                        <ps-button variant='danger' @click='deleteAction'>{{ $t('GENERAL_DELETE') }}</ps-button>-->
                        <ActionDropdown :resource='resource' :model='entityInstance'></ActionDropdown>
                    </div>
                </template>
            </ps-page-header>

            <slot></slot>
        </ps-skeleton-wrapper>
    </div>
</template>

<script lang='ts'>
import { Component } from 'nuxt-property-decorator'
import { faMapMarkerAlt } from '@fortawesome/pro-solid-svg-icons'
import { faCheck, faSpinner } from '@fortawesome/pro-regular-svg-icons'
import AcceptsEntity from '@provide-smart/core/src/mixins/AcceptsEntity'

@Component({
    components: {
        ActionDropdown: () => import('@provide-smart/core/src/components/actions/ActionDropdown.vue'),
    },
})
export default class DetailPage extends AcceptsEntity {
    get isNew() {
        return this.entityId === '_new'
    }

    get resourceTitle() {
        return this.entityInstance?._title || 'New'
    }

    get icons() {
        return {
            faMapMarkerAlt,
            faSpinner,
            faCheck,
        }
    }

    public badgeForm = null

    mounted() {
        this.initialize()
    }

    onSubmit() {
        console.log('ON SUBMIT')
    }

    public optionsForBadge(badge: any) {
        return Object.keys(badge.labels).map((value: string | number) => {
            return {
                value,
                text: badge.labels[value],
                variant: 'default',
            }
        })
    }

    public changeBadgeValue(value: any, badge: any) {
        this.entityModel.api().update(this.entityInstance.id, {
            [badge.attribute]: value,
        }, {}, true)
    }

    public goBack() {
        window.history.back()
    }

}
</script>

<style scoped lang='scss'></style>
