<template>
    <div>
        <div class='relative'>
            <ps-page-header :title='$t($resourceHelper.translationString(entity))'>
                <template #actions>
                    <ps-button variant='success' :icon='icons.faPlus' @click='addResource'>{{ $t('GENERAL_ADD') }}</ps-button>
                </template>
            </ps-page-header>

            <ps-card v-if='indexColumns.length' no-body class='mt-5 mb-12'>
                <ps-datatable
                    :actions='resource ? resource.actions : []'
                    :columns='indexColumns'
                    :model='entity'
                    :query='activeTableView.query'
                    heading-class='font-medium text-sm text-gray-500 uppercase px-2 py-2 bg-gray-100 hover:bg-success-50'
                    table-row-class='hover:bg-success-50 active:bg-success-50'
                    api
                    url-persistence
                    selectable
                    @rowClick='onRowClick'
                    @queryChanged='setCurrentQuery'
                >
                    <template #before-table='slotProps'>
                        <ps-list-group-item class='flex justify-between items-center'>
                            <div>
                                <ps-tabs>
                                    <ps-tab
                                        v-for='(tableView, index) of datatableViews'
                                        :key='index'
                                        :active='activeTableViewIndex === index'
                                        @click.native='activeTableViewIndex = index'
                                    >
                                        {{ tableView.name }}
                                    </ps-tab>
                                </ps-tabs>
                            </div>

                            <div class='flex space-x-2'>
                                <ps-button variant='link-gray' :icon='icons.faStar' size='sm' @click='openDatatableSettings(null)'>
                                    {{ $t('DATATABLE_SAVE_VIEW') }}
                                </ps-button>
                                <ps-button
                                    variant='link-gray'
                                    :icon='icons.faCog'
                                    size='sm'
                                    @click='openDatatableSettings(activeTableViewIndex)'
                                ></ps-button>
                            </div>
                        </ps-list-group-item>

                        <ps-list-group-item>
                            <div class='flex'>
                                <div class='flex-grow inline-flex flex-wrap space-x-4'>
                                    <ps-resource-filters :model='entity' :datatable-uuid='slotProps.datatableId'></ps-resource-filters>
                                </div>

                                <div class='align-content-end'>
                                    <input
                                        type='text'
                                        :placeholder="$t('GENERAL_SEARCH') + '...'"
                                        class='border rounded text-sm p-2 py-1.5'
                                        :value='currentQuery.search'
                                        @input='onSearch'
                                    />
                                </div>
                            </div>
                        </ps-list-group-item>
                    </template>

                    <template #pagination='slotProps'>
                        <portal to='detail'>
                            <div class='absolute left-0 bottom-0 w-full px-8 py-1 bg-white border-t'>
                                <ps-pagination
                                    variant='success'
                                    :current='slotProps.datatableState.query.page'
                                    :total='slotProps.totals.results'
                                    :per-page='slotProps.datatableState.query.perPage'
                                    @change='slotProps.paginate'
                                ></ps-pagination>
                            </div>
                        </portal>
                    </template>
                </ps-datatable>
            </ps-card>
        </div>
        <portal-target name='detail'></portal-target>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Debounce } from 'vue-debounce-decorator'
import { faCog, faPlus, faStar } from '@fortawesome/pro-regular-svg-icons'
import { ModalType } from '@provide-smart/core/src/components/modal/Modal'
import Datatable from '@provide-smart/core/src/models/Datatable'
import Field from '@provide-smart/core/src/models/fields/Field'
import ResourceFilters from '@provide-smart/core/src/components/datatable/filter/ResourceFilters.vue'
import QuickCreateModal from '../form/QuickCreateModal.vue'
import Resource from './../../models/Resource'
import { ColumnModel } from './../datatable/columns/model'
import Query from './../../utils/Query'
import DatatableSettings from '~/modules/@provide-smart/core/src/components/datatable/settings/DatatableSettings.vue'

@Component({
    components: {
        'ps-resource-filters': ResourceFilters,
    },
})
export default class IndexPage extends Vue {
    @Prop({type: String})
    entity!: string

    @Prop({type: String})
    baseRoute!: string

    @Prop({type: String})
    entityRoute!: string

    @Prop({type: Array})
    columns!: ColumnModel[]

    @Prop({
        type: Object, default: () => {
            return {}
        }
    })
    defaultQuery!: Query

    public currentQuery: Query | null = {}

    public query: Query = {
        perPage: 15,
    }

    public icons = {
        faPlus,
        faStar,
        faCog,
    }

    public columnSettings: { name: string; active: boolean; order: number }[] = []

    public activeTableViewIndex: number = 0

    public datatableViews: { name: string; columnSettings: any; query: Query }[] = [
        {name: 'All', columnSettings: [], query: {perPage: 15}},
    ]

    get resource() {
        return !this.columns ? Resource.find(this.entity) || null : null
    }

    get indexColumns() {
        return this.resource
            ? this.resource?.fields
                .filter((field) => field.visibility.showOnIndex)
                .map((field: Field) => {
                    return new ColumnModel({
                        ...field,
                        name: field.attribute,
                        label: field.name,
                        active: this.columnActiveState(field),
                        sticky: this.columnStickyState(field)
                    })
                })
                .sort((a: ColumnModel, b: ColumnModel) => this.columnOrderNumber(a.name) - this.columnOrderNumber(b.name))
            : this.columns
            ?.map((column: ColumnModel) => {
                column.sticky = this.findColumnSettingByName(column.name)?.sticky || column.sticky
                column.active = this.findColumnSettingByName(column.name)?.active || column.active

                return column
            })
            ?.sort((a: ColumnModel, b: ColumnModel) => this.columnOrderNumber(a.name) - this.columnOrderNumber(b.name)) || []
    }

    get activeTableView() {
        return this.datatableViews[this.activeTableViewIndex]
    }

    async mounted() {
        this.loadTableViewsFromLocalStorage()

        if (!this.columns) {
            await Resource.api().get(this.entity)
        }
    }

    public detailRoute(id: number | null = null) {
        return (this.baseRoute || '/') + (this.entityRoute || this.entity) + '/' + (id || '_new')
    }

    @Debounce(300)
    public onSearch(event: any) {
        // this.query = {
        //     ...this.query,
        //     search: event.target.value,
        // }
        this.updateActiveTableView(
            {
                ...this.activeTableView,
                query: {
                    ...this.activeTableView.query,
                    search: event.target.value,
                },
            },
            false,
        )
    }

    public onRowClick(instance: any) {
        this.$router.push({
            path: this.detailRoute(instance.$id),
        })
    }

    public addResource() {
        this.$modalService.open({
            type: ModalType.SLIDE_IN,
            title: this.$t('GENERAL_NEW') + ' ' + this.entity,
            component: QuickCreateModal,
            props: {
                entity: this.entity,
            },
            variant: 'success',
            onAccept: (instance: any) => {
                this.$router.push({
                    path: this.detailRoute(instance.data.$id),
                })
            },
        })
    }

    public setCurrentQuery(datatable: Partial<Datatable>) {
        this.currentQuery = datatable?.query || null
    }

    public openDatatableSettings(tableViewIndex: number | null = null) {
        this.$modalService.open({
            type: ModalType.SLIDE_IN,
            title: (tableViewIndex ? this.$t('DATATABLE_SAVE_VIEW') : this.$t('DATATABLE_SETTINGS_OVERVIEW')) + '',
            component: DatatableSettings,
            props: {
                viewName: this.getTableViewByIndex(tableViewIndex)?.name || null,
                columns: this.indexColumns,
            },
            variant: 'success',
            onAccept: (result: any) => {
                const newColumnSettings = result?.data?.columnSettings.map((setting: ColumnModel, index: number) => {
                    return {
                        name: setting.name,
                        active: setting.active,
                        order: index,
                        sticky: setting.sticky
                    }
                })

                if (tableViewIndex === null) {
                    this.createTableView({
                        name: result?.data?.name,
                        columnSettings: newColumnSettings,
                        query: Object.assign({}, this.currentQuery),
                    })

                    this.resetDefaultTableView()
                    this.activeTableViewIndex = this.datatableViews.length - 1
                } else {
                    const activeTableView = {
                        ...this.activeTableView,
                        name: result?.data?.name,
                        columnSettings: newColumnSettings
                    }

                    console.log('UPDATE TABLE VIEW')

                    if (activeTableView.name !== 'All') {
                        activeTableView.query = Object.assign({}, this.currentQuery)
                    }

                    this.updateActiveTableView(activeTableView)
                }
            },
        })
    }

    public saveDatatableView() {
        this.openDatatableSettings()
    }

    public columnActiveState(field: Field) {
        return this.findColumnSettingByName(field.attribute)?.active ?? !field.visibility.hideByDefault
    }

    public columnStickyState(field: Field) {
        return this.findColumnSettingByName(field.attribute)?.sticky ?? false
    }

    public columnOrderNumber(columnName: string) {
        return this.findColumnSettingByName(columnName)?.order ?? 0
    }

    protected findColumnSettingByName(name: string) {
        return this.activeTableView.columnSettings.find((column: any) => column.name === name)
    }

    protected getTableViewByIndex(index: number | null) {
        return index !== null ? this.datatableViews[index] || null : null
    }

    protected updateActiveTableView(tableView: any, persist = true) {
        this.datatableViews = this.datatableViews.map((datatableView: any, index) => {
            if (index === this.activeTableViewIndex) {
                return tableView
            }

            return datatableView
        })

        if (persist) {
            this.saveTableViewsToLocalStorage()
        }
    }

    protected resetDefaultTableView() {
        this.datatableViews = this.datatableViews.map((tableView: any, index: number) => {
            if (index === 0) {
                tableView.query         = {}
                tableView.query.filters = {}
                tableView.query.search  = ''
                tableView.query.page    = 1
            }
            return tableView
        })

        this.saveTableViewsToLocalStorage()
    }

    protected createTableView(tableView: any) {
        this.datatableViews = [...this.datatableViews, tableView]

        this.saveTableViewsToLocalStorage()
    }

    protected saveTableViewsToLocalStorage() {
        localStorage.setItem('datatable.' + this.entity, JSON.stringify(this.datatableViews))
    }

    protected loadTableViewsFromLocalStorage() {
        const tableViews = localStorage.getItem('datatable.' + this.entity)

        if (tableViews) {
            this.datatableViews = JSON.parse(tableViews)
        }
    }
}
</script>

<style scoped lang='scss'></style>
