<template>
    <div>
        <div class='relative'>
            <ps-page-header :title='$t($resourceHelper.translationString(entity))'>
                <template #actions>
                    <ps-button variant='success' :icon='icons.faPlus' @click='addResource'>{{ $t('GENERAL_ADD') }}</ps-button>
                </template>
            </ps-page-header>

            <ps-card v-if='indexColumns.length' no-body class='mt-5 mb-12'>
                <entity-collection :entity="entity" :query="activeTableView.query" api url-persistence @query-changed="updateCurrentQuery">

                    <template #default="{collection, service, collectionQuery, totals, loading}">

                        <ps-list-group flush>

                            <ps-list-group-item class='flex justify-between items-center'>
                                <div>
                                    <ps-tabs>
                                        <ps-tab
                                            v-for='(tableView, index) of datatableViews'
                                            :key='index'
                                            :active='activeTableViewIndex === index'
                                            @click.native='activeTableViewIndex = index'
                                        >
                                            {{ tableView.name }}
                                        </ps-tab>
                                    </ps-tabs>
                                </div>

                                <div class='flex space-x-2'>
                                    <ps-button variant='link-gray' :icon='icons.faStar' size='sm' @click='openDatatableSettings(null)'>
                                        {{ $t('DATATABLE_SAVE_VIEW') }}
                                    </ps-button>
                                    <ps-button
                                        variant='link-gray'
                                        :icon='icons.faCog'
                                        size='sm'
                                        @click='openDatatableSettings(activeTableViewIndex)'
                                    ></ps-button>
                                </div>
                            </ps-list-group-item>

                            <ps-list-group-item class="flex justify-between items-center space-x-4">
                                <div class="flex-grow">
                                    <slot name="filters" v-bind="{collection, service, collectionQuery, totals, loading, filterIsActive}"></slot>
                                </div>
                                <div class="w-1/4">
                                    <t-input
                                        type='text'
                                        :placeholder="$t('GENERAL_SEARCH') + '...'"
                                        class='border rounded text-sm p-2 py-1.5'
                                        :value='collectionQuery.search'
                                        @input='service.search($event)'
                                    />
                                </div>
                            </ps-list-group-item>

                            <ps-list-group-item v-if="Object.keys(collectionQuery.filter || {}).length" class="flex justify-between items-center space-x-4">

                                <active-query-filters :query="collectionQuery" @resetFilter="service.resetFilter" :entity="entity"></active-query-filters>

                            </ps-list-group-item>

                            <ps-list-group-item no-padding class='overflow-x-scroll max-w-full'>

                                <slot name="table" v-bind="{indexColumns, collection, collectionQuery, loading}">
                                    <entity-table
                                        :columns="indexColumns"
                                        :entities="collection"
                                        :query="collectionQuery"
                                        heading-class='font-medium text-sm text-gray-500 uppercase px-2 py-2 bg-gray-100 hover:bg-success-50'
                                        table-row-class='hover:bg-success-50 active:bg-success-50'
                                        :loading="loading"
                                        select
                                        @row-click="onRowClick"
                                        @sort="service.sort($event)">

                                        <template #actions="{selection}">
                                            <div class="flex space-x-4 items-center">
                                                <div class="italic text-xs">{{ selection.length }} {{ $t('DATATABLE_ITEMS_SELECTED') }}</div>
                                                <t-button variant="inline-xs">
                                                    <fa :icon="icons.faPlus" class="mr-2"></fa>
                                                    {{ $t('My Action') }}
                                                </t-button>
                                            </div>
                                        </template>

                                        <template v-for="(index, name) in $scopedSlots" #[name]="data">
                                            <slot v-if="name.startsWith('cell-')" :name="name" v-bind="data"></slot>
                                        </template>

                                    </entity-table>
                                </slot>

                            </ps-list-group-item>

                        </ps-list-group>

                        <portal to='detail'>
                            <div class='absolute left-0 bottom-0 w-full px-8 py-1 bg-white border-t'>
                                <ps-pagination
                                    variant='success'
                                    :current='collectionQuery.page'
                                    :total='totals.results'
                                    :per-page='collectionQuery.perPage'
                                    @change='(page, perPage) => paginate(page, perPage, service)'
                                ></ps-pagination>
                            </div>
                        </portal>

                    </template>

                </entity-collection>
            </ps-card>
        </div>

        <portal-target name='detail'></portal-target>
    </div>
</template>

<script lang='ts'>
import { Component } from 'vue-property-decorator'
import ResourceFilters from '@provide-smart/core/src/components/datatable/filter/ResourceFilters.vue'
import { faPlus, faTimes } from '@fortawesome/pro-regular-svg-icons';
import { faCaretDown, faChevronDown } from '@fortawesome/pro-solid-svg-icons';
import Query from './../../utils/Query'
import IndexPage from '~/modules/@provide-smart/core/src/components/resources/IndexPage.vue';
import EntityCollection from '~/modules/@provide-smart/core/src/components/entity-list/EntityCollection.vue';
import EntityTable from '~/modules/@provide-smart/core/src/components/entity-list/EntityTable.vue';
import RangeFilter from '~/modules/@provide-smart/core/src/components/entity-list/filters/RangeFilter.vue';
import SelectFilter from '~/modules/@provide-smart/core/src/components/entity-list/filters/SelectFilter.vue';
import DateRangeFilter from '~/modules/@provide-smart/core/src/components/entity-list/filters/DateRangeFilter.vue';
import BooleanFilter from '~/modules/@provide-smart/core/src/components/entity-list/filters/BooleanFilter.vue';
import { ColumnInterface } from '~/modules/@provide-smart/core/src/components/datatable/columns/interface';
import ActiveQueryFilters from '~/modules/@provide-smart/core/src/components/entity-list/filters/ActiveQueryFilters.vue';

@Component({
    components: {
        'ps-resource-filters': ResourceFilters,
        EntityCollection,
        EntityTable,
        'range-filter': RangeFilter,
        'select-filter': SelectFilter,
        'date-range-filter': DateRangeFilter,
        'boolean-filter': BooleanFilter,
        'active-query-filters': ActiveQueryFilters
    },
})
export default class IndexPageNew extends IndexPage {

    public icons: any = {
        faPlus,
        faTimes,
        faCaretDown,
        faChevronDown
    }

    public updateCurrentQuery(query: Query) {
        query.include = this.indexColumns.filter((column: ColumnInterface) => column.isRelation).map((column: ColumnInterface) => column.relationName || column.name)

        this.currentQuery = query || null
    }

    public filterIsActive(name: string) {
        const filter: any = this.currentQuery?.filters?.[name]
        let active        = !!filter

        if (active && typeof filter === 'object') {
            active = !!Object.keys(filter).length
        } else if (active && typeof filter === 'string') {
            active = filter !== ''
        }

        return active
    }

    public paginate(page: number, perPage: number, service: any) {
        if (perPage !== this.currentQuery?.perPage) {
            this.updateActiveTableView({
                ...this.activeTableView,
                query: {
                    ...this.activeTableView.query,
                    perPage
                }
            })
        }

        service.paginate(page, perPage)
    }

}
</script>

<style scoped lang='scss'></style>
