<template>
    <div class="flex items-center flex-wrap">
        <t-dropdown v-for="(filter, index) in stickyFilters" :key="index" :text="filter.name" class="mr-4 relative z-30">
            <template #trigger="{isShown, show, hide, blurHandler}">
                <t-button variant="inline-sm" :class="{'active': isShown || filterIsActive(getFilterAttribute(filter))}" @focus="show" @blur="blurHandler">
                    {{ filter.name }}
                    <fa :icon="icons.faCaretDown" class="ml-2 transition-transform transform" :class="{'rotate-180': isShown}"></fa>
                </t-button>
            </template>

            <div slot-scope="{blurHandler}" :class="{'w-96 p-3': isTextFilter(filter), 'w-72': isSelectFilter(filter) || isRangeFilter(filter), 'w-52 p-3': isBooleanFilter(filter)}">
                <component :is="filter.component" v-bind="bindingsForFilter(filter)" @blur="blurHandler" @change="service.setFilter(getFilterAttribute(filter), $event)"></component>
            </div>
        </t-dropdown>

        <t-button variant="inline-sm" @click="openMoreFiltersModal">
            {{ $t('FILTERS_MORE') }}
            <fa :icon="icons.faSlidersH" class="ml-2"></fa>
        </t-button>
    </div>
</template>

<script lang="ts">
import { faChevronDown, faPlus, faSlidersH, faTimes } from '@fortawesome/pro-regular-svg-icons';
import { faCaretDown } from '@fortawesome/pro-solid-svg-icons';
import { Component, Prop } from 'vue-property-decorator';
import { mixins } from 'nuxt-property-decorator';
import Resource from '~/modules/@provide-smart/core/src/models/Resource';
import Query from '~/modules/@provide-smart/core/src/utils/Query';
import FilterInterface from '~/modules/@provide-smart/core/src/components/datatable/filter/interface';
import { ModalType } from '~/modules/@provide-smart/core/src/components/modal/Modal';
import ResourceFiltersModal from '~/modules/@provide-smart/core/src/components/resources/modals/ResourceFiltersModal.vue';
import ResourceFilterMixin from '~/modules/@provide-smart/core/src/components/resources/mixins/ResourceFilterMixin';
import { Filters } from '~/modules/@provide-smart/core/src/components/entity-list/filters';

@Component({
    components: Filters
})
export default class ResourceFilters extends mixins(ResourceFilterMixin) {

    @Prop({type: String})
    entity!: string

    @Prop({
        type: Object, default: () => {
        }
    })
    query!: Query

    @Prop({type: Object})
    service: any

    public icons: any = {
        faPlus,
        faTimes,
        faCaretDown,
        faChevronDown,
        faSlidersH
    }

    public get filters(): FilterInterface[] {
        return this.$resourceService.get(this.entity)?.filters || Resource.find(this.entity)?.filters || []
    }

    public openMoreFiltersModal() {
        this.$modalService.open({
            type: ModalType.SLIDE_IN,
            title: this.$t('DATATABLE_MODAL_FILTERS') as string,
            component: ResourceFiltersModal,
            variant: 'success',
            props: {
                entity: this.entity,
                resourceFilters: this.filters,
                query: this.query,
                service: this.service
            },
            onAccept: (instance: any) => {
                console.log('ACCEPT FILTERS MODAL RESULT', instance)
            }
        })
    }
}

</script>
