<template>
    <span
        ref="tooltipWrapper"
        v-click-outside="onClickOutside"
        class="relative"
        @click="onTrigger('click')"
        @mouseover="onTrigger('hover')"
        @mouseout="onTrigger('hover-out')"
    >
        <slot></slot>

        <div
            v-if="show"
            class="arrow-wrapper absolute z-10 bg-black px-2 py-1 text-white rounded text-xs font-normal"
            :class="position"
            :style="tooltipStyle"
            @mouseover="onTrigger('hover')"
        >
            {{ title }}
        </div>
    </span>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component
export default class Tooltip extends Vue {
    @Prop({ type: String, default: '' })
    title!: string

    @Prop({ type: String, default: 'top' })
    position!: 'top left' | 'top center' | 'top right' | 'bottom left' | 'bottom center' | 'bottom right' | 'left' | 'right'

    @Prop({ type: [String, Array], default: 'hover' })
    triggers!: string | string[]

    public show: boolean = false

    public tooltipStyle: any = {}

    public mounted() {}

    public onTrigger(event: string) {
        if (event === 'click' && this.triggerIsSet('click')) {
            this.showTooltip()
        }

        if (event === 'hover' && this.triggerIsSet('hover')) {
            this.showTooltip()
        }

        if (event === 'hover-out' && this.triggerIsSet('hover')) {
            this.hideTooltip()
        }
    }

    public showTooltip() {
        this.show = true

        const wrapper = this.$refs.tooltipWrapper as HTMLElement
        const width = wrapper.offsetWidth

        if (this.position.match(/left/)) {
        }

        if (this.position.match(/center/)) {
            this.tooltipStyle = {
                transform: 'translateX(-50%)',
                'margin-left': width / 2 + 'px',
            }
        }

        if (this.position.match(/right/)) {
        }
    }

    public hideTooltip() {
        this.show = false
    }

    public onClickOutside() {
        this.hideTooltip()
    }

    protected triggerIsSet(triggerName: string) {
        return this.getTriggers().includes(triggerName)
    }

    protected getTriggers(): string[] {
        if (typeof this.triggers === 'string') {
            return this.triggers.split(' ')
        }

        return this.triggers
    }
}
</script>

<style scoped lang="scss">
.arrow-wrapper:after {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-width: 5px;
    margin-left: -5px;
}

.arrow-wrapper.top {
    margin-top: 5px;
}

.arrow-wrapper.top:after {
    bottom: 100%;
    border-bottom-color: #000000;
}

.arrow-wrapper.bottom:after {
    top: 100%;
    border-top-color: #000000;
}

.arrow-wrapper.center:after {
    left: 50%;
}

.arrow-wrapper.left:after {
    left: 15px;
}

.arrow-wrapper.right:after {
    right: 10px;
}
</style>
