<template>
    <div class='p-6 space-y-6'>
        <template v-if="!selectedFilter">
            <!--            <h6>{{ $t('DATATABLE_FILTERS_ACTIVE_LABEL') }}</h6>-->

            <!--            <ps-list-group class='rounded mb-8'>-->
            <!--                <ps-list-group-item v-for="(filter, index) in nonStickyActiveFilters" :key="index" class="cursor-pointer hover:bg-gray-50" @click.native="selectedFilter = filter">-->
            <!--                    {{ filter.name }}-->
            <!--                </ps-list-group-item>-->
            <!--            </ps-list-group>-->

            <!--            <hr>-->

            <!--            <h6>{{ $t('DATATABLE_FILTERS_ADD_LABEL') }}</h6>-->

            <template v-if="filters.length">
                <div>
                    <t-input v-model='filterSearch' variant="inline" class="bg-gray-50" :placeholder="$t('DATATABLE_FILTERS_MODAL_SEARCH_FILTERS')"></t-input>
                </div>

                <div>
                    <ps-list-group class='rounded'>
                        <ps-list-group-item v-for="(filter, index) in filters" :key="index" class="flex space-x-4 hover:bg-success-50 cursor-pointer" :class="{'font-bold text-success-600': isActiveFilter(filter)}" @click.native="selectFilter(filter)">
                            <div class="px-2">
                                <span v-if="!filter.sticky" class="cursor-pointer text-gray-300 hover:text-success-600" @click="pinFilter(filter)">
                                    <fa :icon="icons.faThumbtack"></fa>
                                </span>

                                <span v-else class="cursor-pointer text-success-600 hover:text-gray-300" @click="pinFilter(filter)">
                                    <fa :icon="icons.faThumbtackSolid"></fa>
                                </span>
                            </div>
                            <div class="flex-grow">{{ filter.name }}</div>
                        </ps-list-group-item>
                    </ps-list-group>
                </div>
            </template>

            <div v-else class="text-center">
                <fa-layers class="fa-2x text-center">
                    <fa :icon="icons.faFilter" class="text-gray-400"></fa>
                    <fa :icon="icons.faBan" transform="shrink-8 down-6 right-6" class="text-danger-200"></fa>
                </fa-layers>
            </div>

        </template>

        <template v-else>
            <t-button variant="inline-sm" class="flex space-x-2" @click="selectedFilter = null">
                <fa :icon="icons.faArrowLeft"></fa>
                <div>
                    {{ $t('GENERAL_BACK') }}
                </div>
            </t-button>

            <div><strong>{{ selectedFilter.name }}</strong></div>
            <component :is="selectedFilter.component" v-bind="bindingsForFilter(selectedFilter)" @change="service.setFilter(getFilterAttribute(selectedFilter), $event)"></component>
        </template>
    </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import Query from '@provide-smart/core/src/utils/Query'
import { mixins } from 'nuxt-property-decorator';
import { faArrowLeft, faPlus, faThumbtack } from '@fortawesome/pro-regular-svg-icons';
import { faBan, faFilter, faThumbtack as faThumbtackSolid } from '@fortawesome/pro-solid-svg-icons';
import ModalableComponent from '~/modules/@provide-smart/core/src/components/modal/ModalableComponent';
import { ModalAction } from '~/modules/@provide-smart/core/src/components/modal/Modal';
import FilterInterface from '~/modules/@provide-smart/core/src/components/datatable/filter/interface';
import ResourceFilterMixin from '~/modules/@provide-smart/core/src/components/resources/mixins/ResourceFilterMixin';
import { Filters } from '~/modules/@provide-smart/core/src/components/entity-list/filters';
import LocalUserSettings from '~/modules/@provide-smart/core/src/utils/LocalUserSettings';

@Component({
    components: Filters
})
export default class ResourceFiltersModal extends mixins(ResourceFilterMixin) implements ModalableComponent {

    public filterSearch: string = ''

    public icons: any = {
        faArrowLeft,
        faPlus,
        faFilter,
        faBan,
        faThumbtack,
        faThumbtackSolid
    }

    @Prop({type: String})
    entity!: string

    @Prop({type: Array, default: () => []})
    resourceFilters!: FilterInterface[]

    @Prop({
        type: Object, default: () => {
        }
    })
    query!: Query

    public get filters(): FilterInterface[] {
        return this.resourceFilters
            .map((filter: FilterInterface) => {
                filter.sticky = this.filterSettingsFor(filter.attribute) ? this.filterSettingsFor(filter.attribute).sticky : filter.sticky

                return filter
            })
            .sort((a: FilterInterface, b: FilterInterface) => {

                if (a.sticky && a.sticky !== b.sticky) return -1
                if (!a.sticky) return 1

                if (!this.isActiveFilter(a)) return 1
                if (this.isActiveFilter(a) && this.isActiveFilter(a) !== this.isActiveFilter(b)) return -1

                return 1
            })
    }

    public get filterSettings() {
        return LocalUserSettings.get('filters-' + this.entity) || []
    }

    public get nonStickyFilters() {
        return this.filters.filter((filter: FilterInterface) => !filter.sticky)
    }

    public get nonStickyActiveFilters() {
        return this.nonStickyFilters.filter((filter: FilterInterface) => this.isActiveFilter(filter))
    }

    public get nonStickyInactiveFilters() {
        return this.nonStickyFilters.filter((filter: FilterInterface) => !this.isActiveFilter(filter))
    }

    public selectedFilter: FilterInterface | null = null

    public pinFilter(pinFilter: FilterInterface) {

        const filters = this.resourceFilters.map((filter: FilterInterface) => {
            if (pinFilter.attribute === filter.attribute) {
                filter.sticky = !filter.sticky
            }

            return {
                attribute: filter.attribute,
                sticky: filter.sticky
            }
        })

        LocalUserSettings.save('filters-' + this.entity, filters)
    }

    public filterSettingsFor(attribute: string) {
        return this.filterSettings.find((filter: FilterInterface) => filter.attribute === attribute) || false
    }

    getData(): any {
    }

    isValidForAccept(): Promise<boolean> | boolean {
        return true;
    }

    notifyAccepted(action?: ModalAction): Promise<void> {
        return Promise.resolve(undefined);
    }

    notifyDismissed(action?: ModalAction): Promise<void> {
        return Promise.resolve(undefined);
    }

    protected isActiveFilter(filter: FilterInterface) {
        return this.query?.filter?.[filter.attribute] || false
    }

    protected selectFilter(filter: FilterInterface) {
        this.selectedFilter = filter

        console.log('SELECT FILTER', filter)
    }

}

</script>
