<template>
    <form class='divide-y text-left'>
        <template v-for='(field, index) in action.fields'>
            <div :key='index' class='py-2'>
                <component
                    :is='componentName(field)'
                    v-if='fieldComponentExists(field)'
                    v-model='formData'
                    v-bind='{ field, viaResource, viaResourceId }'
                ></component>

                <div v-else :key='index' class='rounded bg-danger-50 border border-danger-200 p-2 text-sm text-danger-700'>
                    Component `{{ componentName(field) }}` not registered
                </div>

                <!-- FORM ERROR-->
                <template v-if='formErrors[field.attribute]'>
                    <div
                        v-for='(error, index) of formErrors[field.attribute]'
                        :key="field.attribute + '_' + index"
                        class='text-danger text-xs px-2 mt-1'
                    >
                        <div>{{ error }}</div>
                    </div>
                </template>
            </div>
        </template>
    </form>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import Field from '@provide-smart/core/src/models/fields/Field'
import { toPascalCase } from '@provide-smart/core/src/utils/StringHelpers'
import ModalableComponent from '@provide-smart/core/src/components/modal/ModalableComponent'
import ActionInterface from './ActionInterface'

@Component
export default class ActionForm extends Vue implements ModalableComponent {
    @Prop({ type: Object })
    action!: ActionInterface

    @Prop({ type: Object })
    payload!: Record<string, any>

    public viaResource   = null
    public viaResourceId = null

    public formData   = {}
    public formErrors = {}

    public componentName(field: Field) {
        return toPascalCase('form-' + field.component)
    }

    public fieldComponentExists(field: Field) {
        return this.$options?.components?.[this.componentName(field)] || false
    }

    getData(): any {
        return this.formData
    }

    isValidForAccept(): Promise<boolean> | boolean {
        return true
    }

    notifyAccepted(): Promise<void> {
        return Promise.resolve(undefined)
    }

    notifyAcceptErrors(payload: any): void {
        if (payload?.response?.data?.errors) {
            this.formErrors = payload?.response?.data?.errors
        }
    }

    notifyDismissed(): Promise<void> {
        return Promise.resolve(undefined)
    }
}
</script>

<style scoped lang='scss'></style>
