<template>
    <ps-dropdown position='right' width='w-52'>
        <template #trigger>
            <button
                v-if='optionButton'
                id='menu-button'
                type='button'
                class='rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:text-primary focus:ring-0 focus:ring-offset-0'
                aria-expanded='true'
                aria-haspopup='true'
            >
                <span class='sr-only'>Open options</span>
                <!-- Heroicon name: solid/dots-vertical -->
                <svg class='h-5 w-5' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
                    <path d='M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z' />
                </svg>
            </button>
            <ps-button v-else variant='default'>
                <fa :icon="['far', 'bolt']" class='mr-3'></fa>
                {{ $t('GENERAL_ACTIONS') }}
                <fa :icon="['fas', 'caret-down']" class='ml-3'></fa>
            </ps-button>
        </template>

        <ps-list-group v-if='resource' class='text-sm'>
            <ps-list-group-item
                v-for='(action, index) of resource.actions'
                :key='index'
                class='hover:bg-gray-50 cursor-pointer flex items-center space-x-4'
                @click.native='runAction(action)'
            >
                <div class='text-gray-400'>
                    <fa :icon='action.icon'></fa>
                </div>
                <div>
                    {{ action.name }}
                </div>
            </ps-list-group-item>
        </ps-list-group>
    </ps-dropdown>
</template>

<script lang='ts'>
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { Item, Model } from '@vuex-orm/core'
import Resource from '~/modules/@provide-smart/core/src/models/Resource'

@Component
export default class ActionDropdown extends Vue {
    @Prop({ type: Object })
    resource!: Item<Resource>

    @Prop({ type: Object })
    model!: Item<Model>

    @Prop({ type: Boolean, default: false })
    optionButton!: boolean

    public runAction(action: any) {
        if (this.resource) {
            this.$actionService.run(this.resource, [this.model], action, {})
        }
    }
}
</script>

<style scoped lang='scss'></style>
