<template>
    <ps-list-group v-if='datatableId' flush>
        <slot name='before-table' v-bind='{ datatableId }'></slot>

        <ps-list-group-item no-padding class='overflow-x-scroll max-w-full'>
            <table ref='table' class='table-auto w-full text-base relative'>
                <thead class='relative'>
                <div
                    v-if='selectedItems.length'
                    class='absolute z-10 top-0 bottom-0 w-full'
                    :class='headingActionClass'
                    style='left: 51px; height: 31px'
                >
                    <ps-datatable-actions
                        :actions='availableActions'
                        :ids='selectedItemKeys'
                        :resource='model'
                        :datatable-uuid='datatableUUID'
                    ></ps-datatable-actions>
                </div>
                <tr class='divide-x border-b relative'>
                    <th v-if='selectable' :class='headingClass'>
                        <t-checkbox :input-value='selectedAll' @input='onSelectAll'></t-checkbox>
                    </th>
                    <th
                        v-for='(column, index) in availableColumns'
                        :key='index'
                        :class="[headingClass, column.textAlign ? 'text-' + column.textAlign : '']"
                        class='cursor-pointer font-medium'
                        @click='onColumnSort(index)'
                    >
                        <div class='flex justify-between items-center gap-x-4'>
                            <div class='whitespace-nowrap'>
                                {{ column.getLabel() }}
                            </div>

                            <div>
                                <span v-show="column.sortDirection === 'asc'"><fa :icon='icons.faSortUp'></fa></span>
                                <span v-show="column.sortDirection === 'desc'"><fa :icon='icons.faSortDown'></fa></span>
                                <span v-show='!column.sortDirection'><fa :icon='icons.faSort'></fa></span>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody ref='tbody' class='relative divide-y'>
                <template v-for='(item, rowIndex) in items'>
                    <ps-datatable-row
                        :key='rowIndex'
                        :columns='availableColumns'
                        :index='rowIndex'
                        :item='item'
                        :selected='datatableState.selection[rowIndex]'
                        :table-settings='settings'
                        :class='tableRowClass'
                        @click='onClickRow'
                        @select='onSelectRow($event, rowIndex)'
                    >
                    </ps-datatable-row>
                </template>

                <template v-if='loading && !items.length'>
                    <tr v-for='(n, index) in datatableState.query.perPage' :key='index'>
                        <td v-if='selectable'></td>
                        <td v-for='(column, index2) in availableColumns' :key='index2' class='px-2 py-1.5'>
                            <ps-skeleton class='h-5 w-2/3'></ps-skeleton>
                        </td>
                    </tr>
                </template>
                <tr v-if='loading && items.length' class='absolute top-0 bottom-0 w-full'>
                    <slot name='loading'>
                        <div class='p-10 h-full text-center justify-center flex items-center bg-white bg-opacity-50'>
                            <fa :icon='icons.faSpinner' size='lg' spin></fa>
                        </div>
                    </slot>
                </tr>
                </tbody>
            </table>
        </ps-list-group-item>

        <slot name='after-table' v-bind='{ datatableId }'></slot>

        <slot name='pagination' v-bind='{ datatableState, totals, paginate }'>
            <ps-list-group-item no-padding>
                <ps-pagination
                    :current='datatableState.query.page'
                    :total='totals.results'
                    :per-page='datatableState.query.perPage'
                    @change='paginate'
                ></ps-pagination>
            </ps-list-group-item>
        </slot>

        <slot name='after-pagination' v-bind='{ datatableId }'></slot>
    </ps-list-group>
</template>

<script lang='ts'>
import Component from 'vue-class-component'
import { Model } from '@vuex-orm/core'
import { Prop, Watch } from 'nuxt-property-decorator'
import { faSort, faSortDown, faSortUp } from '@fortawesome/pro-duotone-svg-icons'
import { faSpinner } from '@fortawesome/pro-light-svg-icons'
import qs from 'qs'
import QueryMixin from './DatatableQueryMixin'
import { ColumnInterface } from './columns/interface'
import { ColumnModel } from './columns/model'
import Query, { QueryOrderByEnum } from './../../utils/Query'
import { ActionInterface } from './actions/actions'
import DatatableActions from './actions/DatatableActions.vue'
import DatatableRow from './DatatableRow.vue'
import { DatatableSettings } from './settings'

@Component({
    components: {
        'ps-datatable-actions': DatatableActions,
        'ps-datatable-row': DatatableRow,
    },
})
export default class Datatable extends QueryMixin {
    public storeModel: typeof Model | null = null

    public availableColumns: ColumnInterface[] = []

    public totals = {
        pages: 1,
        results: null,
    }

    public availableActions: ActionInterface[] = []

    public loading = false

    public settings: DatatableSettings = {}

    protected apiResultIds: number[] = []

    protected debounce: any = null

    public initialized = false

    // region Properties

    @Prop([String])
    model!: string

    @Prop([Boolean])
    api!: boolean

    @Prop([Boolean])
    selectable!: boolean

    @Prop({type: [Array], default: () => []})
    columns!: string[] | ColumnInterface[]

    @Prop({type: [Number], default: 10})
    limit!: number

    @Prop({type: [Number], default: 1})
    page!: number

    @Prop({type: Boolean, default: false})
    urlPersistence!: boolean

    @Prop({type: [Array], default: () => []})
    actions!: ActionInterface[]

    @Prop({type: [String], default: 'font-medium text-sm text-gray-600 uppercase px-2 py-2 bg-gray-100 hover:bg-secondary-50'})
    headingClass!: string

    @Prop({type: [String], default: 'hover:bg-secondary-50 active:bg-secondary-50'})
    tableRowClass!: string

    @Prop({type: [String], default: 'font-medium text-sm text-gray-600 px-2 py-2 bg-gray-100'})
    headingActionClass!: string

    @Prop({
        type: [Object],
        default: () => {
        },
    })
    query!: Query

    @Prop({
        type: [Object],
        default: () => {
        },
    })
    defaultQuery!: Query

    // endregion

    // region Watchers

    @Watch('model')
    onModelChanged(model: string) {
        this.setORMModel(model)

        this.initializeColumns()
    }

    @Watch('columns')
    onColumnsChanged() {
        this.initializeColumns()
    }

    @Watch('page')
    onPageChanged(page: number) {
        console.log('page changed')
        this.paginate(page)
    }

    @Watch('limit')
    onLimitChanged(limit: number) {
        console.log('limit changed')
        this.paginate(1, limit)
    }

    @Watch('query')
    onQueryChanged(query: Query) {
        this.updateQuery(query)
    }

    @Watch('queryState')
    onQueryStateChanged(newVal: Query, oldVal: Query) {
        if (JSON.stringify(newVal) !== JSON.stringify(oldVal)) {
            this.$emit('queryChanged', this.datatableState)

            if (this.initialized) {
                history.replaceState(null, '', window.location.pathname + '?' + qs.stringify(this.datatableState?.query))
            }

            this.fetchApiResults()
        }
    }

    @Watch('reloadState')
    onReloadStateChanged(value: boolean) {
        if (value && this.api) {
            this.fetchApiResults()

            this.updateDatatableState({
                reload: false,
            })
        }
    }

    // endregion

    // region Computed
    get items() {
        return this.queryItemsFromStorage()
    }

    get datatableUUID() {
        if (this.datatableId) {
            return this.$store.state.entities?.datatables?.data?.[this.datatableId]?.uuid
        }

        return null
    }

    get selectedAll() {
        return this.selectedItems.length === this.apiResultIds.length || this.datatableState?.selectAll
    }

    get selectedItems() {
        return Object.values(this.datatableState?.selection ?? {}).filter((enabled) => enabled)
    }

    get selectedItemKeys() {
        return (
            this.apiResultIds
                // eslint-disable-next-line @typescript-eslint/no-unused-vars
                .filter((id: number, index: number) => this.datatableState?.selection[index])
                .map((id) => id)
        )
    }

    get reloadState() {
        return this.datatableState?.reload || false
    }

    get icons() {
        return {
            faSort,
            faSortUp,
            faSortDown,
            faSpinner,
        }
    }

    // endregion

    async mounted() {
        this.availableActions = [...this.actions]

        const query =
                  this.urlPersistence && window.location.search
                      ? qs.parse(window.location.search.substr(1))
                      : {
                          perPage: this.limit,
                          page: this.page,
                          ...this.query,
                      }

        // force page and perPage params to be integers
        query.page    = parseInt(query.page + '')
        query.perPage = parseInt(query.perPage + '')

        await this.initDatatable({
            model: this.model,
            query,
        })

        this.initialized = true

        this.initializeSettings()
        this.setORMModel(this.model)
        this.initializeColumns()

        this.updateQuery(query)
        await this.fetchApiResults()
    }

    public initializeSettings() {
        this.settings = {
            ...this.settings,
            selectable: this.selectable,
        }
    }

    public paginate(page: number, limit: number | null = null) {
        const query: Query = {}

        query.page = page

        if (limit) {
            query.perPage = limit
        }

        this.updateQuery(query, false)
    }

    public onColumnSort(columnIndex: number) {
        const query: Query = {...this.datatableState?.query} ?? {}

        this.availableColumns = this.availableColumns.map((column, index) => {
            if (index === columnIndex) {
                let direction: QueryOrderByEnum.ASC | QueryOrderByEnum.DESC | undefined

                switch (column.sortDirection) {
                case 'asc':
                    direction = QueryOrderByEnum.DESC
                    break
                case undefined:
                    direction = QueryOrderByEnum.ASC
                    break
                }

                column.sortDirection = direction

                if (direction) {
                    query.orderBy = {
                        [column.name as string]: direction,
                    }
                } else {
                    delete query.orderBy
                }
            } else {
                column.sortDirection = undefined
            }

            return column
        })

        this.updateQuery(query)
    }

    public onSelectAll(event: boolean) {
        this.updateSelection(
            // eslint-disable-next-line @typescript-eslint/no-unused-vars
            this.items.reduce((carry: any, value: any, key: number) => {
                carry[key] = event

                return carry
            }, {}),
        )
    }

    public onSelectRow(checked: boolean, rowIndex: number) {
        this.updateSelection({
            ...this.datatableState?.selection,
            [rowIndex]: checked,
        })
    }

    public onClickRow(item: any, index: number) {
        this.$emit('rowClick', item, index)
    }

    protected setORMModel(model: string) {
        this.storeModel = this.$store.$db().model<any>(model)
    }

    protected initializeColumns() {
        this.availableColumns = this.columns.length
            ? this.parseColumns(this.columns)
            : this.parseColumns(this.items.length ? Object.keys(this.items[0]) : [])

        this.updateQuery({
            with: this.availableColumns.filter((column: ColumnInterface) => column.isRelation).map((column: ColumnInterface) => column.name)
        })
    }

    protected parseColumns(columns: string[] | ColumnInterface[] = []): ColumnInterface[] {
        return (columns as any)
            .map((column: string | ColumnInterface) => (typeof column === 'string' ? new ColumnModel({name: column}) : column))
            .filter((column: ColumnInterface) => {
                return column.active
            })
    }

    protected async fetchApiResults() {
        if (!this.api) {
            return false
        }

        if (!this.debounce) {
            this.debounce = setTimeout(async () => {
                this.loading = true

                const response       = await this.storeModel?.api().index(this.datatableState?.query)
                const responseObject = response.response.data

                this.loading = false

                this.apiResultIds   = responseObject.data.map((item: Record<string, any>) => item.id)
                this.totals.pages   = responseObject.meta.last_page
                this.totals.results = responseObject.meta.total

                this.updateDatatableState({
                    resultingIds: this.apiResultIds,
                    total: this.totals.results,
                    pages: this.totals.pages,
                })
            }, 20)
        } else {
            clearTimeout(this.debounce)
            this.debounce = null
            await this.fetchApiResults()
        }
    }

    protected queryItemsFromStorage() {
        if (this.storeModel) {
            return this.api ? this.storeModel.query().whereIdIn(this.apiResultIds).withAll().get() : this.storeModel.query().get()
        }

        return []
    }
}

/*
 * TODO: DATATABLE FUNCTIONALITIES
 *
 * [x] loading component
 * [x] column sorting
 * [x] row selection
 * [x] column width
 * [x] search (no-debounce yet)
 * [ ] apply filters (also predefined from backend) (no-debounce yet)
 * [ ] sticky columns
 * [ ] selectable columns
 *
 *
 *
 *
 * */
</script>
