<template>
    <tr :class="[selected ? 'active' : '']">
        <td v-if='tableSettings.selectable' class='text-center' style='width: 50px'>
            <t-checkbox :checked='selected' @input='onSelectRow'></t-checkbox>
        </td>
        <td
            v-for='(column, columnIndex) in columns'
            :key='columnIndex'
            class='px-2 py-1.5'
            :class="[column.textAlign ? 'text-' + column.textAlign : 'text-left']"
            :style='{ width: column.width }'
            @click='onClickRow'
        >
            <div :class='[clippingClass(column)]' :style='{ width: column.width }'>
                <!--                <slot :name="'cell-slot-' + column.name" v-bind="{column, value: item[column.name]}">-->
                <!--                    {{ item[column.name] }}-->
                <!--                </slot>-->
                <template v-if='componentExists(column.component)'>
                    <component :is="'index-' + column.component" v-bind='{ item: item, column }'></component>
                </template>
                <template v-else>
                    {{ item[column.name] || '-' }}
                </template>
            </div>
        </td>
    </tr>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import _ from 'lodash'
import { ColumnInterface } from './columns/interface'
import { DatatableSettings } from './settings'
import { ClipMode } from './columns/enum'

@Component
export default class DatatableRow extends Vue {
    @Prop({ type: [Object], required: true })
    item!: object

    @Prop({ type: [Number], required: true })
    index!: number

    @Prop({ type: [Boolean], default: false })
    selected!: boolean

    @Prop({ type: [Array], required: true })
    columns!: ColumnInterface[]

    @Prop({
        type: [Object],
        default: () => {
        },
    })
    tableSettings!: DatatableSettings

    public mounted() {
    }

    public clippingClass(column: ColumnInterface) {
        switch (column.clipMode) {
        case ClipMode.CLIP:
            return 'truncate overflow-clip'
        case ClipMode.ELLIPSIS:
            return 'truncate'
        }

        return ''
    }

    public onClickRow() {
        this.$emit('click', this.item, this.index)
    }

    public onSelectRow(checked: boolean) {
        this.$emit('select', checked)
    }

    public componentExists(componentName: string) {
        return this.componentToPascalCase('index-' + componentName) in (this.$options?.components || {})
    }

    protected componentToPascalCase(componentName: string) {
        const base = _.camelCase(componentName)

        return base.charAt(0).toUpperCase() + base.substr(1)
    }
}
</script>

<style scoped></style>
